/* ==========================================================================
Sidebar
========================================================================== */


.menu-title {
    padding: 15px;
    letter-spacing: .05em;
    cursor: default;
    font-size: 15px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    background: #808080;
}


i.fas.fa-angle-double-left.fa-lg.float-right,
i.fas.fa-bars.fa-lg.float-right{
    margin-right: 5px;
    margin-top: 5px;
}

.side-menu a.dropdown-item {
    color: rgba(49, 58, 70, 0.8);
    display: block;
    padding: 10px 15px;
    margin: 0;
    font-size: 14px;
    position: relative;
    text-align:left;
}

.sidebar-collapsed a.dropdown-item {
    text-align:center;
}


body .ui-panelmenu .ui-panelmenu-header > a {
    border: none;
    background-color: #fff;
    color: #313a46;
    padding: 0.714em 0.857em;
    font-weight: 400;
    position: static;
    font-size: 14px;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    border-bottom: 1px solid #ececec;
}
