<nav *ngIf="isAuthenticated()" class="left side-menu show" id="sidebar">
<!--<nav *ngIf="isAuthenticated()" class="left side-menu show" id="sidebar" [ngbCollapse]="isCollapsed"> -->
    <ul class="navbar-nav ml-auto">
        <li class="menu-title">Entities</li>
        <li>
            <a class="dropdown-item" routerLink="self-assessment-mgm" routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }">
                <i class="fi-air-play"></i>
                <span class="d-none d-md-inline">Self Assessment</span>
            </a>
        </li>
        <li>
            <a class="dropdown-item" routerLink="identify-threat-agent" routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }">
                <i class="fa fa-lightbulb-o"></i>
                <span class="d-none d-md-inline">Identify Threat Agents</span>
            </a>
        </li>
        <li>
            <a class="dropdown-item" routerLink="evaluate-weakness" routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }">
                <i class="fi-air-play"></i>
                <span class="d-none d-md-inline">Evaluate Weakness</span>
            </a>
        </li>
        <li>
            <a class="dropdown-item" routerLink="identify-asset" routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }">
                <i class="fi-air-play"></i>
                <span class="d-none d-md-inline">Identify Assets</span>
            </a>
        </li>
        <li>
            <a class="dropdown-item" routerLink="external-audit" routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }">
                <i class="fi-air-play"></i>
                <span class="d-none d-md-inline">External Audit</span>
            </a>
        </li>
        <li>
            <a class="dropdown-item" routerLink="impact-evaluation" routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }">
                <i class="fi-air-play"></i>
                <span class="d-none d-md-inline">Impact Evaluation</span>
            </a>
        </li>

        <li>
            <a class="dropdown-item" routerLink="risk-management" routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }">
                <i class="fi-air-play"></i>
                <span class="d-none d-md-inline">Risk Management</span>
            </a>
        </li>

        <li>
            <a class="dropdown-item" routerLink="results" routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }">
                <i class="fi-air-play"></i>
                <span class="d-none d-md-inline">Results</span>
            </a>
        </li>
    </ul>
</nav>
