@import "../dashboard.module.css";

.disabled{
    background-color:grey;
    color: black;
}

.impact-five{
    background-color:#c0392b;
    color: black;
}

.impact-five:hover *{
    background-color:#ca5a4d;
    color: black;
}

.impact-four{
    background-color: #d35400;
    color: black;
}

.impact-four:hover *{
    background-color: #d67d42;
    color: black;
}

.impact-three{
    background-color: #f39c12;
    color: black;
}

.impact-three:hover *{
    background-color: #f3b95b;
    color: black;
}

.impact-two{
    background-color: #f1c40f;
    color: black;
}

.impact-two:hover *{
    background-color: #f0d35f;
    color: black;
}

.impact-one{
    background-color: #2ecc71;
    color: black;
}

.impact-one:hover *{
    background-color: #7ace9d;
    color: black;
}