
<div class="card-box" *ngIf="phase">
    <h2><span jhiTranslate="hermeneutApp.phase.detail.title">Phase</span> {{phase.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="hermeneutApp.phase.name">Name</span></dt>
        <dd>
            <span>{{phase.name}}</span>
        </dd>
        <dt><span jhiTranslate="hermeneutApp.phase.description">Description</span></dt>
        <dd>
            <span>{{phase.description}}</span>
        </dd>
        <dt><span jhiTranslate="hermeneutApp.phase.weight">Weight</span></dt>
        <dd>
            <span>{{phase.weight}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'phase-mgm/'+ phase.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
