
<div *ngIf="level">
    <h2><span jhiTranslate="hermeneutApp.level.detail.title">Level</span> {{level.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="hermeneutApp.level.name">Name</span></dt>
        <dd>
            <span>{{level.name}}</span>
        </dd>
        <dt><span jhiTranslate="hermeneutApp.level.description">Description</span></dt>
        <dd>
            <span>{{level.description}}</span>
        </dd>
        <dt><span jhiTranslate="hermeneutApp.level.attackStrategy">Attack Strategy</span></dt>
        <dd>
            <div *ngIf="level.attackStrategy">
                <a [routerLink]="['/attack-strategy-mgm', level.attackStrategy?.id]">{{level.attackStrategy?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'level-mgm/'+ level.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
