<h1>Identify Threat Agents - Questionnaires</h1>

<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Scope</th>
        <th>Created</th>
        <th>Modified</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let questionnaire of questionnaires">
        <th scope="row">{{questionnaire.id}}</th>
        <td>{{questionnaire.name}}</td>
        <td>{{questionnaire.scope}}</td>
        <td>{{questionnaire.created}}</td>
        <td>{{questionnaire.modified}}</td>
        <td>
            <button type="button" class="btn btn-success" (click)="answer(questionnaire)">Answer</button>
        </td>
    </tr>

    </tbody>
</table>
