<div class="container" *ngIf="loading">
  <div class="loader"></div>
</div>
<div class="container" *ngIf="!loading">
  <div class="x_panel" style="padding:0px !important;">
    <div class="x_title" style="padding:0px !important;">
      <h2 style="padding: 10px;">EBITS</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li style="width: 24px; cursor: default"></li>
        <li style="width: 24px; cursor: default"></li>
        <li>
          <a href="javascript:void(0)" class="collapse-link" (click)="isCollapsed = !isCollapsed">
            <i *ngIf="!isCollapsed" class="fa fa-chevron-up"></i>
            <i *ngIf="isCollapsed" class="fa fa-chevron-down"></i>
          </a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="table-responsive x_content" style="padding:0px !important;" [ngbCollapse]="isCollapsed">
      <div *ngIf="ebitInfo.length > 0" class="table-responsive table-hover-no-pointer">
        <table class="table table-striped">
          <thead>
            <tr>
              <th width="50%">Year</th>
              <th width="50%">Value</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of ebitInfo">
              <tr>
                <td [ngClass]="{'this-year':item.thisYear}">{{item.year}}</td>
                <td [ngClass]="{'this-year':item.thisYear}" *ngIf="item.value">{{item.value | currency:'EUR'}}</td>
                <td [ngClass]="{'this-year':item.thisYear}" *ngIf="!item.value">-</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <div *ngIf="ebitInfo.length === 0" class="text-center">
        No Ebits declared!
      </div>
    </div>
  </div>
</div>