<div class="container" *ngIf="!myCompany">
  <div class="loader"></div>
</div>
<div class="container" *ngIf="myCompany">
  <div class="tile-stats tiles-first-row">
    <!--<div class="count">&nbsp;</div>-->
    <p style="margin-top: 20px">Self Assessment: {{selfAssessmentName}}</p>
    <h3>{{companyName}}</h3>
    <p>Company sector: {{companySector}}</p>
    <p><a (click)="popUpService.setOnUserBehaviour()" [routerLink]="['/', { outlets: { popup: 'my-company-mgm/'+ myCompany.id + '/edit'} }]">edit</a></p>
  </div>
</div>