<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-md-12">
            <jhi-step-status-widget></jhi-step-status-widget>
        </div>
    </div>
    <div class="row well">
        <h2>Cyber Posture</h2>
    </div>
    <div class="row justify-content-center mb-2">
        <div class="col-md-4">
            <jhi-company-widget></jhi-company-widget>
        </div>
        <!--<div class="col-md-4">
            <jhi-attack-strategies-widget></jhi-attack-strategies-widget>
        </div>-->
    </div>
    <div class="row mb-2">
        <div class="col-md-12">
            <jhi-threat-agents-widget></jhi-threat-agents-widget>
        </div>
    </div>
    <div class="row well">
        <h2>Vulnerabilities</h2>
    </div>
    <div class="row mb-2">
        <div class="col-md-12">
            <jhi-overall-likelihood-widget></jhi-overall-likelihood-widget>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-12">
            <jhi-vulnerability-radar-widget></jhi-vulnerability-radar-widget>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-12">
            <jhi-attack-map-widget></jhi-attack-map-widget>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-12">
            <jhi-most-dangerous-threat-agents-widget></jhi-most-dangerous-threat-agents-widget>
        </div>
    </div>
</div>
