<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <jhi-step-status-widget></jhi-step-status-widget>
        </div>
    </div>
    <div class="row">
        <h2>Cyber Posture</h2>
    </div>
    <div class="row">
        <div class="col-md-3">
            <jhi-company-widget></jhi-company-widget>
        </div>
        <div class="col-md-3">
            <jhi-threat-agents-widget></jhi-threat-agents-widget>
        </div>
        <div class="col-md-3">
            <jhi-customers-widget></jhi-customers-widget>
        </div>
        <div class="col-md-3">
            <jhi-attack-strategies-widget></jhi-attack-strategies-widget>
        </div>
    </div>
    <div class="row">
        <h2>Vulnerabilities</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <jhi-overall-likelihood-widget></jhi-overall-likelihood-widget>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <jhi-vulnerability-radar-widget></jhi-vulnerability-radar-widget>
        </div>
    </div>
    <div class=row>
        <div class="col-md-12">
            <jhi-attack-map-widget></jhi-attack-map-widget>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <jhi-most-dangerous-threat-agents-widget></jhi-most-dangerous-threat-agents-widget>
        </div>
    </div>
</div>
