<div class="container" *ngIf="loading">
  <div class="loader"></div>
</div>
<div class="container" *ngIf="!loading">
  <div class="tile-stats tiles-first-row">
    <div class="count" *ngIf="myAssets">{{myAssets.length}}</div>
    <h3 *ngIf="myAssets">Assets</h3>
    <h3 *ngIf="!myAssets">No Assets counted</h3>
    <p *ngIf="myAssets"><a href="javascript:void(0)" (click)="open(tangibleAssetsDetails)">tangible</a> | <a href="javascript:void(0)" (click)="open(intangibleAssetsDetails)">intangible</a></p>
  </div>
</div>

<ng-template #tangibleAssetsDetails let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Tangible</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table" *ngIf="tangibleCategoryKeys">
      <thead>
        <tr>
          <th scope="col">Asset category</th>
          <th scope="col">Assent in category</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let key of tangibleCategoryKeys">
          <tr>
            <th scope="row"><a ngbTooltip="Click on Asset category for more details" href="javascript:void(0)" (click)="selectAssetCategory(key)">{{key}}</a></th>
            <td>
              {{tangibleCategoryMap.get(key).length}}
            </td>
          </tr>
          <ng-container *ngIf="selectedCategory">
            <tr *ngIf="selectedCategory === key">
              <td colspan="2">
                <table class="col-md-12">
                  <thead>
                    <tr>
                      <th scope="col" class="text-center align-middle">Asset</th>
                      <th scope="col" class="text-center align-middle">Priority</th>
                      <th scope="col" class="text-center align-middle">Economic Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let myAsset of selectedAssetsByCategory" class="text-center align-middle">
                      <td>{{myAsset.asset.name}}</td>
                      <td *ngIf="myAsset.ranking">{{priorities[myAsset.ranking-1]}}: {{myAsset.ranking}}</td>
                      <td *ngIf="!myAsset.ranking"> - </td>
                      <td *ngIf="myAsset.economicValue">{{myAsset.economicValue | currency:'EUR'}}</td>
                      <td *ngIf="!myAsset.economicValue"> - </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
    <div class="text-center" *ngIf="!tangibleCategoryKeys">
      <p>You don't have any tangible asset!</p>
    </div>
  </div>
</ng-template>

<ng-template #intangibleAssetsDetails let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Intangible</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table" *ngIf="intangibleCategoryKeys">
      <thead>
        <tr>
          <th scope="col">Asset category</th>
          <th scope="col">Assent in category</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let key of intangibleCategoryKeys">
          <tr>
            <th scope="row"><a ngbTooltip="Click on Asset category for more details" href="javascript:void(0)" (click)="selectAssetCategory(key)">{{key}}</a></th>
            <td>
              {{intangibleCategoryMap.get(key).length}}
            </td>
          </tr>
          <ng-container *ngIf="selectedCategory">
            <tr *ngIf="selectedCategory === key">
              <td colspan="2">
                <table class="col-md-12">
                  <thead>
                    <tr>
                      <th scope="col" class="text-center align-middle">Asset</th>
                      <th scope="col" class="text-center align-middle">Priority</th>
                      <th scope="col" class="text-center align-middle">Economic Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let myAsset of selectedAssetsByCategory" class="text-center align-middle">
                      <td>{{myAsset.asset.name}}</td>
                      <td *ngIf="myAsset.ranking">{{priorities[myAsset.ranking-1]}}: {{myAsset.ranking}}</td>
                      <td *ngIf="!myAsset.ranking"> - </td>
                      <td *ngIf="myAsset.economicValue">{{myAsset.economicValue | currency:'EUR'}}</td>
                      <td *ngIf="!myAsset.economicValue"> - </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
    <div class="text-center" *ngIf="!intangibleCategoryKeys">
        <p>You don't have any intangible asset!</p>
      </div>
  </div>
</ng-template>