<ng-container *ngIf="loading">
  <div class="loader"></div>
</ng-container>
<ng-container *ngIf="!loading">
  <div class="tile-stats tiles-first-row">
    <div class="count" *ngIf="myAssets">{{myAssets.length}}</div>
    <ng-container *ngIf="myAssets">
        <div class="col-md-10">
            <h3>Assets</h3>
          </div>
          <div class="col-md-2"><a [routerLink]="['/identify-asset/asset-clustering']"><i class="fa fa-link fa-lg"
                aria-hidden="true"></i></a></div>
    </ng-container>
    <h3 *ngIf="!myAssets"><a [routerLink]="['/identify-asset/asset-clustering']">No Assets counted</a></h3>
    <div class="col-md-12">
    <p *ngIf="myAssets"><a href="javascript:void(0)" (click)="open(tangibleAssetsDetails)">tangible</a> | <a
        href="javascript:void(0)" (click)="open(intangibleAssetsDetails)">intangible</a></p>
      </div>
  </div>
</ng-container>

<ng-template #tangibleAssetsDetails let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Tangible</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table" *ngIf="tangibleCategoryKeys">
      <thead>
        <tr>
          <th scope="col">Asset category
            <i *ngIf="!orderTangibleBy.category" (click)=" tableOrderBy('category', 'TANGIBLE', true)"
              class="fa fa-sort" aria-hidden="true"></i>
            <i *ngIf="orderTangibleBy.category && orderTangibleBy.type === 'desc'"
              (click)=" tableOrderBy('category', 'TANGIBLE', false)" class="fa fa-chevron-down" aria-hidden="true"></i>
            <i *ngIf="orderTangibleBy.category && orderTangibleBy.type === 'asc'"
              (click)=" tableOrderBy('category', 'TANGIBLE', true)" class="fa fa-chevron-up" aria-hidden="true"></i>
          </th>
          <th scope="col">Assent in category
            <i *ngIf="!orderTangibleBy.assetNumber" (click)=" tableOrderBy('asset_number', 'TANGIBLE', true)"
              class="fa fa-sort" aria-hidden="true"></i>
            <i *ngIf="orderTangibleBy.assetNumber && orderTangibleBy.type === 'desc'"
              (click)=" tableOrderBy('asset_number', 'TANGIBLE', false)" class="fa fa-chevron-down"
              aria-hidden="true"></i>
            <i *ngIf="orderTangibleBy.assetNumber && orderTangibleBy.type === 'asc'"
              (click)=" tableOrderBy('asset_number', 'TANGIBLE', true)" class="fa fa-chevron-up" aria-hidden="true"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let key of tableTangibleInfo">
          <tr>
            <th scope="row"><a ngbTooltip="Click on Asset category for more details" href="javascript:void(0)"
                (click)="selectAssetCategory(key.category)">{{key.category}}</a></th>
            <td>
              {{key.assetNumber}}
            </td>
          </tr>
          <ng-container *ngIf="selectedCategory">
            <tr *ngIf="selectedCategory === key.category">
              <td colspan="2">
                <table class="col-md-12">
                  <thead>
                    <tr>
                      <th scope="col" class="text-center align-middle">Asset</th>
                      <th scope="col" class="text-center align-middle">Priority</th>
                      <th scope="col" class="text-center align-middle">Economic Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let myAsset of selectedAssetsByCategory" class="text-center align-middle">
                      <td>{{myAsset.asset.name}}</td>
                      <td *ngIf="myAsset.ranking">{{priorities[myAsset.ranking-1]}}: {{myAsset.ranking}}</td>
                      <td *ngIf="!myAsset.ranking"> - </td>
                      <td *ngIf="myAsset.economicValue">{{myAsset.economicValue | currency:'EUR'}}</td>
                      <td *ngIf="!myAsset.economicValue"> - </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
    <div class="text-center" *ngIf="!tangibleCategoryKeys">
      <p>You don't have any tangible asset!</p>
    </div>
  </div>
</ng-template>

<ng-template #intangibleAssetsDetails let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Intangible</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table" *ngIf="intangibleCategoryKeys">
      <thead>
        <tr>
            <th scope="col">Asset category
                <i *ngIf="!orderIntangibleBy.category" (click)=" tableOrderBy('category', 'INTANGIBLE', true)"
                  class="fa fa-sort" aria-hidden="true"></i>
                <i *ngIf="orderIntangibleBy.category && orderIntangibleBy.type === 'desc'"
                  (click)=" tableOrderBy('category', 'INTANGIBLE', false)" class="fa fa-chevron-down" aria-hidden="true"></i>
                <i *ngIf="orderIntangibleBy.category && orderIntangibleBy.type === 'asc'"
                  (click)=" tableOrderBy('category', 'INTANGIBLE', true)" class="fa fa-chevron-up" aria-hidden="true"></i>
              </th>
              <th scope="col">Assent in category
                <i *ngIf="!orderIntangibleBy.assetNumber" (click)=" tableOrderBy('asset_number', 'INTANGIBLE', true)"
                  class="fa fa-sort" aria-hidden="true"></i>
                <i *ngIf="orderIntangibleBy.assetNumber && orderIntangibleBy.type === 'desc'"
                  (click)=" tableOrderBy('asset_number', 'INTANGIBLE', false)" class="fa fa-chevron-down"
                  aria-hidden="true"></i>
                <i *ngIf="orderIntangibleBy.assetNumber && orderIntangibleBy.type === 'asc'"
                  (click)=" tableOrderBy('asset_number', 'INTANGIBLE', true)" class="fa fa-chevron-up" aria-hidden="true"></i>
              </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let key of tableIntangibleInfo">
          <tr>
            <th scope="row"><a ngbTooltip="Click on Asset category for more details" href="javascript:void(0)"
                (click)="selectAssetCategory(key.category)">{{key.category}}</a></th>
            <td>
              {{key.assetNumber}}
            </td>
          </tr>
          <ng-container *ngIf="selectedCategory">
            <tr *ngIf="selectedCategory === key.category">
              <td colspan="2">
                <table class="col-md-12">
                  <thead>
                    <tr>
                      <th scope="col" class="text-center align-middle">Asset</th>
                      <th scope="col" class="text-center align-middle">Priority</th>
                      <th scope="col" class="text-center align-middle">Economic Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let myAsset of selectedAssetsByCategory" class="text-center align-middle">
                      <td>{{myAsset.asset.name}}</td>
                      <td *ngIf="myAsset.ranking">{{priorities[myAsset.ranking-1]}}: {{myAsset.ranking}}</td>
                      <td *ngIf="!myAsset.ranking"> - </td>
                      <td *ngIf="myAsset.economicValue">{{myAsset.economicValue | currency:'EUR'}}</td>
                      <td *ngIf="!myAsset.economicValue"> - </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
    <div class="text-center" *ngIf="!intangibleCategoryKeys">
      <p>You don't have any intangible asset!</p>
    </div>
  </div>
</ng-template>