<ng-container *ngIf="loading">
    <div class="loader"></div>
</ng-container>
<ng-container *ngIf="!loading">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h2>
                        <a href="javascript:void(0);" class="collapse-link">Overall Data Threat Likelihood</a>
                        <!--<span class="badge badge-pill badge-secondary">Based on a 0 to 5 scale</span>-->
                    </h2>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngIf="overallDataThreat">
                <p>
                    The Overall Data Threat Likelihood is
                </p>
                <h2>
                    <span
                        class="badge badge-pill badge-secondary"> {{overallDataThreat.likelihood | replace:'_':' ' | titlecase}}</span>
                </h2>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</ng-container>

