
<div *ngIf="myCompany">
    <h2><span jhiTranslate="hermeneutApp.myCompany.detail.title">My Company</span> {{myCompany.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="hermeneutApp.myCompany.user">User</span></dt>
        <dd>
            {{myCompany.user?.login}}
        </dd>
        <dt><span jhiTranslate="hermeneutApp.myCompany.companyProfile">Company Profile</span></dt>
        <dd>
            <div *ngIf="myCompany.companyProfile">
                <a [routerLink]="['/company-profile-mgm', myCompany.companyProfile?.id]">{{myCompany.companyProfile?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button *jhiHasAnyAuthority="'ROLE_ADMIN'"
            type="button"
            (click)="popUpService.setOnUserBehaviour()"
            [routerLink]="['/', { outlets: { popup: 'my-company-mgm/'+ myCompany.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
