
<div *ngIf="levelWrapper">
    <h2><span jhiTranslate="hermeneutApp.levelWrapper.detail.title">Level Wrapper</span> {{levelWrapper.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="hermeneutApp.levelWrapper.level">Level</span></dt>
        <dd>
            <span jhiTranslate="{{'hermeneutApp.Level.' + levelWrapper.level}}">{{levelWrapper.level}}</span>
        </dd>
        <dt><span jhiTranslate="hermeneutApp.levelWrapper.attackStrategy">Attack Strategy</span></dt>
        <dd>
            <div *ngIf="levelWrapper.attackStrategy">
                <a [routerLink]="['/attack-strategy-mgm', levelWrapper.attackStrategy?.id]">{{levelWrapper.attackStrategy?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'level-wrapper-mgm/'+ levelWrapper.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
