@import "../dashboard.module.css";

.btn{
    font-size: 14px !important;
    font-weight: 400 !important;
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif !important;
    white-space: normal !important;
}

.low {
    background-color: #00FF00;
    color: black;
}

.low-medium {
    background-color: #FFFF00;
    color: black;
}

.medium {
    background-color: #FFBB00;
    color: black;
}

.medium-high {
    background-color: #FF7700;
    color: black;
}

.high {
    background-color: #FF0000;
    color: black;
}

.disabled {
    background-color: #808080;
    color: white;
}
