@import "../dashboard.module.css";

.btn{
    font-size: 14px !important;
    font-weight: 400 !important;
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif !important;
    white-space: normal !important;
}

.low {
    background-color: greenyellow;
    color: black;
}

.low-medium {
    background-color: yellow;
    color: black;
}

.medium {
    background-color: orange;
    color: black;
}

.medium-high {
    background-color: orangered;
    color: black;
}

.high {
    background-color:red;
    color: black;
}

.disabled {
    background-color: #808080;
    color: white;
}
