<jhi-alert></jhi-alert>
<!--
<button *ngIf="myCompany"
        [routerLink]="['/company-profile-mgm', myCompany?.companyProfile?.id]"
        class="btn btn-info btn-sm">{{myCompany.companyProfile?.name}}
</button>
-->
<div *ngIf="myCompany">
        <h2><span jhiTranslate="hermeneutApp.myCompany.detail.title">My Company</span> {{myCompany.id}}</h2>
        <hr>
        <jhi-alert-error></jhi-alert-error>
        <dl class="row-md jh-entity-details">
            <dt><span jhiTranslate="hermeneutApp.myCompany.user">User</span></dt>
            <dd>
                {{myCompany.user?.login}}
            </dd>
            <dt><span jhiTranslate="hermeneutApp.myCompany.companyProfile">Company Profile</span></dt>
            <dd>
                <div *ngIf="myCompany.companyProfile">
                    <a [routerLink]="['/company-profile-mgm', myCompany.companyProfile?.id]">{{myCompany.companyProfile?.name}}</a>
                </div>
            </dd>
        </dl>
    
        <button type="submit"
                (click)="previousState()"
                class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>
    
        <button type="button"
                [routerLink]="['/', { outlets: { popup: 'my-company-mgm/'+ myCompany.id + '/edit'} }]"
                replaceUrl="true"
                queryParamsHandling="merge"
                class="btn btn-primary">
            <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
        </button>
</div>

<div *ngIf="!myCompany">
    <div class="row">
        <h1>My Company</h1>
    </div>
    <div *ngIf="companyProfiles?.length > 0">
        <p>No Company found. Select one or create a new one.</p>
        <select [(ngModel)]="companyProfile">
            <option [ngValue]="null"></option>
            <option *ngFor="let companyProfile of companyProfiles" [ngValue]="companyProfile">{{companyProfile.name}}
            </option>
        </select>

        <button *ngIf="companyProfile" (click)="saveMyCompany()">Save</button>

        <button *ngIf="!companyProfile" routerLink="/company-profile-mgm">
            Create Company
        </button>
    </div>

    <div *ngIf="companyProfiles?.length === 0">
        <p>
            No Company found, create a new one first!
        </p>
        <button routerLink="/company-profile-mgm">
            Create Company
        </button>
    </div>
</div>
