<p style="margin-top: 5px">
    RATING is a risk assessment tool, which supports organizations to assess collective evidence-based risk profiles, or
    organizational risk profiles. It includes both qualitative and quantitative methodologies based on risk definition
    from ISO31000 and ISO 31010 risk management and risk assessment techniques standards to protect the assets from
    cyber-threat attacks. It is able to identify major cybersecurity risks and support decisions related to
    cyber-security investments on hard and soft mitigation solutions.
</p>
<ol style="list-style-type: upper-roman; margin-bottom: 50px;">
    <li><h5>Acceptance of Terms</h5>
        <p>The Legal Terms (hereinafter “terms”) are a legal and binding agreement between you (“user”, "you", meaning
            the person who exercises rights under these Terms with respect to RATING, or who has received express
            permission from ENG to exercise rights under these Terms) and ENG (“ENG”, “we”, “our”), governing your use
            of RATING (hereinafter “RATING”)</p>
        <p><strong>Please review the Terms carefully before you continue using RATING.</strong> Your use constitutes
            your agreement to all such terms, conditions and notices. If you do not agree, please discontinue using
            RATING. <strong>Even if you are using RATING on behalf of the organisation, you are nevertheless
                individually bound by this Agreement even if your organisation has a separate agreement with
                ENG.</strong></p>
        <p>ENG reserves the right to update these Terms from time to time. Any changes will be notified to you. The
            substantial changes regarding the rights and obligations of the parties will be presented in detail in the
            announcement, but it is also your responsibility to check for such changes. In the announcement it will be
            indicated the date when the changes will apply. If you do not wish to accept the new Terms, you should not
            continue to use it and you should ask the cancellation of your account (<a
                href="mailto:paolo.roccetti@eng.it">paolo.roccetti@eng.it</a>). If you continue to use RATING after the
            date on which the change comes into effect, your use of it indicates your agreement to be bound by the new
            Terms. <strong>The Terms were last updated 01/02/2019.</strong></p>
    </li>
    <li>
        <h5>Registration</h5>
        <p>Only registered users can access and use the RATING. Registered Users of this site agree to be bound by these
            Terms of Use and are provided access to the RATING on this basis only. Before you can use the RATING, you
            must read, understand and agree to these Terms of Use.
        </p>
    </li>
    <li>
        <h5>Privacy Policy</h5>
        <p>
            ENG takes the protection of your personal data very seriously and it is committed to protecting it and
            developing technology that gives you the most powerful and safe online experience. Check the Privacy Policy
            for more information about how your data is being processed by ENG.
        </p>
    </li>
    <li>
        <h5>Indemnification</h5>
        <p>
            You agree to indemnify, defend, and hold harmless ENG, its affiliates and partners and their respective
            officers, directors, employees, agents, users, representatives, and third party providers to RATING from and
            against all losses, expenses, damages, and costs, including reasonable attorneys' fees, resulting from any
            violation of these Terms. ENG reserves the right to assume, at its sole expense, the exclusive defence and
            control of any matter subject to indemnification by you, in which event you will fully cooperate with ENG in
            asserting any available defences.
        </p>
    </li>
    <li>
        <h5>Links to third party sites</h5>
        <p>
            RATING may provide, or third parties may provide, links to other websites or resources. Since <strong>ENG has
            no control over such websites and resources</strong>, you acknowledge and agree that ENG is not responsible
            for the availability of such external websites or resources, and does not endorse and is not responsible or
            liable for any content, advertising, products, or other materials on or available from such websites or
            resources. You further acknowledge and agree that ENG shall not be responsible or liable for any damage or
            loss caused or alleged to be caused in connection with use of or reliance on any such linked content, goods
            or services available on or through any such linked website or resource. 
        </p>
    </li>
    <li>
        <h5>General Disclaimer and Limitation Liability</h5>
        <p>
            You expressly agree that ENG makes no representations or warranties, express or implied, of any kind
            regarding the content of the RATING, its accuracy, adequacy, completeness, legality, security, safety,
            reliability or the usefulness of any information or results associated with RATING, and any such
            representations or warranties are expressly disclaimed by ENG. The user expressly acknowledges that ENG is
            not liable in any way with respect to the user's use of RATING or use of any information or results
            associated with the RATING, and that all risks of injury, damage or of any other losses rest solely with the
            user. The user expressly acknowledges and understands changes may from time to time be made to the RATING’s
            content and that these changes may or may not be incorporated into any new version of RATING, and that ENG
            is not liable in any way for any changes to the RATING.
        </p>
    </li>
    <li>
        <h5>Term</h5>
        <p>
            The right to access and use RATING granted in these Terms of Use will terminate automatically in the event
            that user is no longer registered to RATING.</p>
        <p>You agree that ENG has the right to refuse access to RATING to any user for any reason, including, without
            limitation, a reasonable belief that the user in question has violated these Terms, any other operating
            rules or terms currently posted on RATING, or any of the copyright or trademark laws of Italy. The right to
            access and use RATING granted in these Terms of Use may be terminated at any time by ENG, without notice to
            user, in the event of a breach by it.
        </p>
    </li>
    <li>
        <h5>Miscellaneous</h5>
        <p>These Terms and any other operating rules or terms currently posted on RATING constitute the entire agreement
            between ENG and the Users of RATING, and supersede all previous written or oral agreements between the
            parties with respect to such subject matter.</p>
        <p>No action of ENG may be construed as a waiver of any part of these Terms.</p>
        <p>Should any of the above sections be unenforceable, the other paragraphs will remain in full force and
            effect.</p>
        <p>These Terms shall be governed by and interpreted in accordance with the laws of Italy, excluding any rules of
            conflicts of laws that would apply the substantive laws of any other jurisdiction. Exclusive place of
            jurisdiction shall be Rome, Italy.
        </p>
    </li>
</ol>
