<ng-container class="container" *ngIf="loading">
    <ng-container *ngIf="loading">
        <div class="loader"></div>
    </ng-container>
</ng-container>
<ng-container class="container-fluid" *ngIf="!loading">
    <div class="x_panel" style="padding:0px !important;">
        <div class="x_title" style="padding:0px !important;">
            <h2 style="padding: 10px;">
                <a [routerLink]="['/risk-management/risk-evaluation' ]">Asset at risk</a>
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li style="width: 24px; cursor: default"></li>
                <li style="width: 24px; cursor: default"></li>
                <li>
                    <a href="javascript:void(0)" class="collapse-link" (click)="isCollapsed = !isCollapsed">
                        <i *ngIf="!isCollapsed" class="fa fa-chevron-up"></i>
                        <i *ngIf="isCollapsed" class="fa fa-chevron-down"></i>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="table-responsive x_content" style="padding:0px !important;" [ngbCollapse]="isCollapsed">
            <div class="card card-body table-responsive">
                <ngb-tabset>
                    <ngb-tab title="Tangible">
                        <ng-template ngbTabContent>
                            <ng-container *ngIf="risksTangible.length > 0">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Category</th>
                                            <th>Asset</th>
                                            <th>Description</th>
                                            <th>Impact</th>
                                            <th>Critical</th>
                                            <th>Risk</th>
                                            <th>Mitigations</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="noRiskInMap">
                                        <p>Your assets doesn't have any impact value assigned, please: select one impact
                                            value
                                            for
                                            every
                                            asset witch you analize!</p>
                                    </tbody>
                                    <tbody *ngIf="!noRiskInMap">
                                        <ng-container
                                            *ngFor="let risk of risksTangible | paginate: tangibleAssetAtRiskPaginator">
                                            <tr>
                                                <td>{{risk.asset.asset.assetcategory.name}}</td>
                                                <td>
                                                    <a
                                                        [routerLink]="['/asset-mgm', risk.asset.asset?.id ]">{{risk.asset?.asset.name}}</a>
                                                </td>
                                                <td>{{risk.asset.asset.description}}</td>
                                                <td>{{risk.asset.impact}}</td>
                                                <td>{{risk.critical}}</td>
                                                <td>{{risk.percentage | percent}}</td>
                                                <td>
                                                    <ng-container
                                                        *ngFor="let mitigation of riskMitigationMap.get(risk.asset.id); let last=last">
                                                        {{mitigation.name}}<ng-container *ngIf="!last">, </ng-container>
                                                    </ng-container>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                                <div class="text-center">
                                    <pagination-controls (pageChange)="onTangibleRiskPageChange($event)"
                                        [id]="tangibleAssetAtRiskPaginator.id"></pagination-controls>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="risksTangible.length === 0">
                                You don't have any tangible assets!
                            </ng-container>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Intangible">
                        <ng-template ngbTabContent>
                            <ng-container *ngIf="risksIntangible.length > 0">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Category</th>
                                            <th>Asset</th>
                                            <th>Description</th>
                                            <th>Impact</th>
                                            <th>Critical</th>
                                            <th>Risk</th>
                                            <th>Mitigations</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="noRiskInMap">
                                        <p>Your assets doesn't have any impact value assigned, please: select one impact
                                            value
                                            for
                                            every
                                            asset witch you analize!</p>
                                    </tbody>
                                    <tbody *ngIf="!noRiskInMap">
                                        <ng-container
                                            *ngFor="let risk of risksIntangible | paginate: intangibleAssetAtRiskPaginator">
                                            <tr>
                                                <td>{{risk.asset.asset.assetcategory.name}}</td>
                                                <td>
                                                    <a
                                                        [routerLink]="['/asset-mgm', risk.asset.asset?.id ]">{{risk.asset?.asset.name}}</a>
                                                </td>
                                                <td>{{risk.asset.asset.description}}</td>
                                                <td>{{risk.asset.impact}}</td>
                                                <td>{{risk.critical}}</td>
                                                <td>{{risk.percentage | percent}}</td>
                                                <td>
                                                    <ng-container
                                                        *ngFor="let mitigation of riskMitigationMap.get(risk.asset.id); let last=last">
                                                        {{mitigation.name}}<ng-container *ngIf="!last">, </ng-container>
                                                    </ng-container>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                                <div class="text-center">
                                    <pagination-controls (pageChange)="onIntangibleRiskPageChange($event)"
                                        [id]="intangibleAssetAtRiskPaginator.id"></pagination-controls>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="risksIntangible.length === 0">
                                You don't have any intangible assets!
                            </ng-container>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</ng-container>