<ng-container class="container" *ngIf="loading">
    <ng-container *ngIf="loading">
        <div class="loader"></div>
    </ng-container>
</ng-container>
<ng-container class="container-fluid" *ngIf="!loading">
    <div class="x_panel" style="padding:0px !important;">
        <div class="x_title" style="padding:0px !important;">
            <h2 style="padding: 10px;">
                <a [routerLink]="['/risk-management/risk-evaluation' ]">Asset at risk</a>
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li style="width: 24px; cursor: default"></li>
                <li style="width: 24px; cursor: default"></li>
                <li>
                    <a href="javascript:void(0)" class="collapse-link" (click)="isCollapsed = !isCollapsed">
                        <i *ngIf="!isCollapsed" class="fa fa-chevron-up"></i>
                        <i *ngIf="isCollapsed" class="fa fa-chevron-down"></i>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="table-responsive x_content" style="padding:0px !important;" [ngbCollapse]="isCollapsed">
            <div class="card card-body table-responsive text-nowrap">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Asset</th>
                        <th scope="col">Risk</th>
                    </tr>
                    </thead>
                    <tbody *ngIf="noRiskInMap">
                    <p>Your assets doesn't have any impact value assigned, please: select one impact value
                        for
                        every
                        asset witch you analize!</p>
                    </tbody>
                    <tbody *ngIf="!noRiskInMap">
                        <tr *ngFor="let risk of risks | paginate: assetAtRiskPaginator">
                            <td>
                                <a [routerLink]="['/asset-mgm', risk.asset.asset?.id ]">{{risk.asset?.asset.name}}</a>
                            </td>
                            <td>{{risk.percentage | percent}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <pagination-controls (pageChange)="onRiskPageChange($event)"
                                         [id]="assetAtRiskPaginator.id"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</ng-container>
