<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOverallDataThreatLabel" jhiTranslate="hermeneutApp.overallDataThreat.home.createOrEditLabel">Create or edit a Overall Data Threat</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!overallDataThreat.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="overallDataThreat.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.overallDataThreat.likelihood" for="field_likelihood">Likelihood</label>
            <select class="form-control" name="likelihood" [(ngModel)]="overallDataThreat.likelihood" id="field_likelihood"  required>
                <option value="LOW">{{'hermeneutApp.DataThreatLikelihood.LOW' | translate}}</option>
                <option value="MEDIUM">{{'hermeneutApp.DataThreatLikelihood.MEDIUM' | translate}}</option>
                <option value="HIGH">{{'hermeneutApp.DataThreatLikelihood.HIGH' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.likelihood?.dirty && editForm.controls.likelihood?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.likelihood?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.overallDataThreat.operation" for="field_operation">Operation</label>
            <select class="form-control" id="field_operation" name="operation" [(ngModel)]="overallDataThreat.operation">
                <option [ngValue]="null"></option>
                <option [ngValue]="dataOperationOption.id === overallDataThreat.operation?.id ? overallDataThreat.operation : dataOperationOption" *ngFor="let dataOperationOption of operations; trackBy: trackDataOperationById">{{dataOperationOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
