<div>
    <h2>
        <span jhiTranslate="hermeneutApp.companySector.home.title">Company Sectors</span>
        <button class="btn btn-primary float-right jh-create-entity create-company-sector-mgm" [routerLink]="['/', { outlets: { popup: ['company-sector-mgm-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="hermeneutApp.companySector.home.createLabel">
            Create new Company Sector
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'hermeneutApp.companySector.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="companySectors">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="hermeneutApp.companySector.department">Department</span></th>
            <th><span jhiTranslate="hermeneutApp.companySector.description">Description</span></th>
            <th><span jhiTranslate="hermeneutApp.companySector.created">Created</span></th>
            <th><span jhiTranslate="hermeneutApp.companySector.modified">Modified</span></th>
            <th><span jhiTranslate="hermeneutApp.companySector.user">User</span></th>
            <th><span jhiTranslate="hermeneutApp.companySector.companyprofile">Companyprofile</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let companySector of companySectors ;trackBy: trackId">
                <td><a [routerLink]="['../company-sector-mgm', companySector.id ]">{{companySector.id}}</a></td>
                <td>{{companySector.department}}</td>
                <td>{{companySector.description}}</td>
                <td>{{companySector.created | date:'medium'}}</td>
                <td>{{companySector.modified | date:'medium'}}</td>
                <td>
                    {{companySector.user?.login}}
                </td>
                <td>
                    <div *ngIf="companySector.companyprofile">
                        <a [routerLink]="['../company-profile-mgm', companySector.companyprofile?.id ]" >{{companySector.companyprofile?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../company-sector-mgm', companySector.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'company-sector-mgm/'+ companySector.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'company-sector-mgm/'+ companySector.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
