<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCompanySectorLabel" jhiTranslate="hermeneutApp.companySector.home.createOrEditLabel">Create or edit a Company Sector</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!companySector.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="companySector.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.companySector.department" for="field_department">Department</label>
            <input type="text" class="form-control" name="department" id="field_department"
                [(ngModel)]="companySector.department" required/>
            <div [hidden]="!(editForm.controls.department?.dirty && editForm.controls.department?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.department?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.companySector.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="companySector.description" maxlength="2000"/>
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 2000 }">
                   This field cannot be longer than 2000 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.companySector.created" for="field_created">Created</label>
            <div class="d-flex">
                <input id="field_created" type="datetime-local" class="form-control" name="created" [(ngModel)]="companySector.created"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.companySector.modified" for="field_modified">Modified</label>
            <div class="d-flex">
                <input id="field_modified" type="datetime-local" class="form-control" name="modified" [(ngModel)]="companySector.modified"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.companySector.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="companySector.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === companySector.user?.id ? companySector.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.companySector.companyprofile" for="field_companyprofile">Companyprofile</label>
            <select class="form-control" id="field_companyprofile" name="companyprofile" [(ngModel)]="companySector.companyprofile" >
                <option [ngValue]="null"></option>
                <option [ngValue]="companyProfileOption.id === companySector.companyprofile?.id ? companySector.companyprofile : companyProfileOption" *ngFor="let companyProfileOption of companyprofiles; trackBy: trackCompanyProfileById">{{companyProfileOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
