<div class="container" *ngIf="loading">
    <div class="loader"></div>
  </div>
  <div class="container" *ngIf="!loading">
    <div class="tile-stats tiles-first-row">
      <!--<div class="icon"><i class="fa fa-check-square-o"></i></div>-->
      <div class="count" *ngIf="attacksMapCounter>0">{{attacksMapCounter}}</div>
      <h3 *ngIf="attacksMapCounter>0">Attack strategies</h3>
      <h3 *ngIf="attacksMapCounter===0">No Attack strategies founded</h3>
      <!--<p>details</p>-->
    </div>
  </div>