<div class="container" *ngIf="loading">
    <div class="loader"></div>
  </div>
  <div class="container" *ngIf="!loading">
    <div class="x_panel" style="padding:0px !important;">
      <div class="x_title" style="padding:0px !important;">
        <h2 style="padding: 10px;">Splitting: {{companySector}}</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <a class="collapse-link" (click)="isCollapsed = !isCollapsed"><i class="fa fa-chevron-up"></i></a>
          </li>
          <!--
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Export</a>
                    </li>
                  </ul>
                </li>
                -->
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="table-responsive x_content" style="padding:0px !important;" [ngbCollapse]="isCollapsed">
          <div *ngIf="tableInfo" class="table-responsive table-hover-no-pointer">
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th>Name</th>
                          <th>Value</th>
                      </tr>
                  </thead>
                  <tbody>
                      <ng-container *ngFor="let item of tableInfo">
                          <tr>
                              <td>{{item.splitting}}</td>
                              <td *ngIf="item.value">{{item.value}}</td>
                              <td *ngIf="!item.value">-</td>
                          </tr>
                      </ng-container>
                  </tbody>
                </table>
          </div>
      </div>
    </div>
  </div>
