<div class="card">
    <div class="card-body">
        <a href="javascript:void(0)" (click)="isDescriptionCollapsed = !isDescriptionCollapsed" [attr.aria-expanded]="!isDescriptionCollapsed"
            aria-controls="descriptionCollapsible" class="float-right">
            <i class="fa fa-question-circle fa-lg" aria-hidden="true"></i>
        </a>
        <h5 class="card-title">Attack Costs.</h5>
        <i [ngbCollapse]="isDescriptionCollapsed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at neque
            malesuada, placerat ipsum eu, molestie urna. Integer sollicitudin sollicitudin diam, sit amet sagittis enim
            laoreet eget. Aenean pulvinar maximus ex sit amet tempus. Suspendisse vehicula arcu ante, non facilisis
            magna dictum ut.<br></i>
        <ng-container class="card-text" *ngIf="!myAssets">
            <div class="loader"></div>
        </ng-container>
        <ng-container class="card-text" *ngIf="myAssets">
            <div class="col-md-3">
                <h6>Direct Assets</h6>
                <div class="list-group">
                    <ng-container *ngFor="let myDirect of myDirects">
                        <a href="javascript:void(0)" (click)="updateMyAsset(false);selectDirect(myDirect)" class="list-group-item list-group-item-action"
                            [ngClass]="{'active': selectedDirectAsset && myDirect.id === selectedDirectAsset.id}"
                            ngbTooltip="{{myDirect.myAsset.asset.description}}" placement="right">
                            <i *ngIf="myAssetStatus.get(myDirect.myAsset.id) === 'COMPLETED'" class="fa fa-check fa-lg"
                                aria-hidden="true" style="color: green"></i>
                            <i *ngIf="loading && myAssetStatus.get(myDirect.myAsset.id) === 'IN EVALUATION'" class="fa fa-circle-o-notch fa-spin fa-lg fa-fw"></i>
                            <i *ngIf="myAssetStatus.get(myDirect.myAsset.id) === 'NOT COMPLETED'" class="fa fa-minus"
                                aria-hidden="true" style="color: grey"></i>
                            {{myDirect.myAsset.asset.name}}</a>
                    </ng-container>
                </div>
            </div>
            <div class="col-md-9">
                <ng-container *ngIf="refresh">
                    <div class="loader"></div>
                </ng-container>
                <ng-container *ngIf="selectedDirectAsset && !refresh">
                    <div class="row">
                        <h5>For <b>{{selectedDirectAsset.myAsset.asset.name}}</b> asset, select the generated costs in
                            case of attack.</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <ng-container *ngFor="let cost of costs; let isEven=even">
                                    <ng-container *ngIf="isEven">
                                        <div class="row">
                                            <label><input type="checkbox" [checked]="isDirectCostSelected(cost)"
                                                    (change)="setCostOnDirect(cost)" id="{{cost}}-direct-{{selectedDirectAsset.myAsset.asset.name}}">
                                                {{cost.toString() | replace:'_':' '}}</label>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                            <div class="col-md-6">
                                <ng-container *ngFor="let cost of costs; let isOdd=odd">
                                    <ng-container *ngIf="isOdd">
                                        <div class="row">
                                            <label><input type="checkbox" [checked]="isDirectCostSelected(cost)"
                                                          (change)="setCostOnDirect(cost)" id="{{cost.toString()}}-direct-{{selectedDirectAsset.myAsset.asset.name}}">
                                                {{cost.toString() | replace:'_':' '}}</label>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <ng-container *ngIf="selectedDirectAsset.effects">
                        <div class="row" *ngIf="selectedDirectAsset.effects.length > 0">
                            <h5>For effects of <b>{{selectedDirectAsset.myAsset.asset.name}}</b> asset attack select
                                the
                                generated costs.</h5>
                        </div>
                        <div class="row" *ngIf="selectedDirectAsset.effects.length > 0">
                            <ng-container *ngFor="let indirect of selectedDirectAsset.effects">
                                <div class="col">
                                    <div class="chipsContainer">
                                        <div class="badge chips chips-name" [ngClass]="{'badge-light': selectedIndirectAsset && indirect.id !== selectedIndirectAsset.id, 'badge-primary': selectedIndirectAsset && indirect.id === selectedIndirectAsset.id}"
                                            (click)="updateMyAsset(false);selectIndirect(indirect)">
                                            {{indirect.myAsset.asset.name}}
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <div class="row" *ngIf="refreshIndirect">
                            <div class="loader"></div>
                        </div>
                        <div class="row" *ngIf="selectedIndirectAsset && !refreshIndirect">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <ng-container *ngFor="let cost of costs; let isOdd=odd">
                                        <ng-container *ngIf="isOdd">
                                            <div class="row">
                                                <label><input type="checkbox" [checked]="isIndirectCostSelected(cost)"
                                                        (change)="setCostOnIndirect(cost)" id="{{cost.toString()}}-{{selectedIndirectAsset.myAsset.asset.name}}">
                                                    {{cost.toString() | replace:'_':' '}}</label>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </div>
                                <div class="col-md-6">
                                    <ng-container *ngFor="let cost of costs; let isEven=even">
                                        <ng-container *ngIf="isEven">
                                            <div class="row">
                                                <label><input type="checkbox" [checked]="isIndirectCostSelected(cost)"
                                                        (change)="setCostOnIndirect(cost)" id="{{cost.toString()}}-{{selectedIndirectAsset.myAsset.asset.name}}">
                                                    {{cost.toString() | replace:'_':' '}}</label>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="!selectedDirectAsset && !refresh">
                    <div class="text-center" style="margin-top: 50px">
                        <p style="color: orange"><i class="fa fa-exclamation-triangle fa-4x" aria-hidden="true"></i></p>
                        <p style="color: grey">Please select one direct asset from the list at left of the screen!</p>
                    </div>
                </ng-container>
            </div>
            <div class="col-md-12 text-center">
                <div class="col-md-3">
                    <button class="btn btn-primary btn-lg btn-block" [routerLink]="['../cascade-effects']"><i class="fa fa-arrow-left fa-lg"
                            aria-hidden="true"></i>
                        Prev</button>
                </div>
                <div class="col-md-3 offset-md-6">
                    <button class="btn btn-primary btn-lg btn-block" (click)="updateMyAsset(true)">
                        Close <i *ngIf="!loading" class="fa fa-times fa-lg" aria-hidden="true"></i><i *ngIf="loading"
                            class="fa fa-circle-o-notch fa-spin fa-lg fa-fw"></i>
                    </button>

                </div>
            </div>
        </ng-container>
    </div>
</div>
