<div class="card">
    <div class="card-body">
        <h5 class="card-title">Attack Costs.</h5>
        <ng-container class="card-text" *ngIf="!myAssets">
            <div class="loader"></div>
        </ng-container>
        <ng-container class="card-text" *ngIf="myAssets">
            <div class="col-md-3">
                <h6>Direct Assets</h6>
                <div class="list-group">
                    <ng-container *ngFor="let myDirect of myDirects">
                        <a href="javascript:void(0)" (click)="selectDirect(myDirect)" class="list-group-item list-group-item-action"
                            [ngClass]="{'active': selectedDirectAsset && myDirect.id === selectedDirectAsset.id}">{{myDirect.myAsset.asset.name}}</a>
                    </ng-container>
                </div>
            </div>
            <div class="col-md-9">
                <ng-container *ngIf="selectedDirectAsset">
                    <div class="row">
                        <h5>For <b>{{selectedDirectAsset.myAsset.asset.name}}</b> asset, select the generated costs in case of attack.</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <ng-container *ngFor="let cost of costs; let isOdd=odd">
                                    <ng-container *ngIf="isOdd">
                                        <div class="row">
                                            <label><input type="checkbox" [checked]="isDirectCostSelected(cost)"
                                                    (change)="setCostOnDirect(cost)" id="{{cost}}">
                                                {{cost}}</label>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                            <div class="col-md-6">
                                <ng-container *ngFor="let cost of costs; let isEven=even">
                                    <ng-container *ngIf="isEven">
                                        <div class="row">
                                            <label><input type="checkbox" [checked]="isDirectCostSelected(cost)"
                                                    (change)="setCostOnDirect(cost)" id="{{cost}}">
                                                {{cost}}</label>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h5>For effects of <b>{{selectedDirectAsset.myAsset.asset.name}}</b> asset attack select the generated costs.</h5>
                    </div>
                    <div class="row">
                        <ng-container *ngFor="let indirect of selectedDirectAsset.effects">
                            <div class="col-md-3">
                                <div class="chipsContainer">
                                    <div class="badge chips chips-name" [ngClass]="{'badge-light': selectedIndirectAsset && indirect.id !== selectedIndirectAsset.id, 'badge-primary': selectedIndirectAsset && indirect.id === selectedIndirectAsset.id}"
                                        (click)="selectIndirect(indirect)">
                                        {{indirect.myAsset.asset.name}}
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <div class="row" *ngIf="selectedIndirectAsset">
                            <div class="col-md-12">
                                    <div class="col-md-6">
                                        <ng-container *ngFor="let cost of costs; let isOdd=odd">
                                            <ng-container *ngIf="isOdd">
                                                <div class="row">
                                                    <label><input type="checkbox" [checked]="isIndirectCostSelected(cost)"
                                                            (change)="setCostOnIndirect(cost)" id="{{cost}}">
                                                        {{cost}}</label>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                    <div class="col-md-6">
                                        <ng-container *ngFor="let cost of costs; let isEven=even">
                                            <ng-container *ngIf="isEven">
                                                <div class="row">
                                                    <label><input type="checkbox" [checked]="isIndirectCostSelected(cost)"
                                                            (change)="setCostOnIndirect(cost)" id="{{cost}}">
                                                        {{cost}}</label>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                </div>
                    </div>
                    <div class="row" style="margin-top: 100px">
                        <div class="col-md-4 offset-md-4">
                            <div class="button-box">
                                <button *ngIf="selectedDirectAsset && isMyAssetUpdated" class="btn btn-success btn-lg btn-block"
                                    (click)="updateMyAsset()"><i class="fas fa-save"></i>
                                    Submit</button>
                                <button *ngIf="!selectedDirectAsset || !isMyAssetUpdated" class="btn btn-secondary btn-lg btn-block"><i
                                        class="fas fa-save"></i>
                                    Submit</button>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="!selectedDirectAsset">
                    <div class="text-center" style="margin-top: 50px">
                        <p style="color: orange"><i class="fa fa-exclamation-triangle fa-4x" aria-hidden="true"></i></p>
                        <p style="color: grey">Please select one direct asset from the list at left of the screen!</p>
                    </div>
                </ng-container>
            </div>
            <div class="col-md-12 text-center">
                <div class="col-md-3">
                    <button class="btn btn-primary btn-lg btn-block" [routerLink]="['../cascade-effects']"><i class="fa fa-arrow-left fa-lg"
                            aria-hidden="true"></i>
                        Prev</button>
                </div>
                <div class="col-md-3 offset-md-6">
                    <button class="btn btn-primary btn-lg btn-block" [routerLink]="['../dashboard']"><i class="fa fa-times fa-lg"
                            aria-hidden="true"></i>
                        Close</button>
                </div>
            </div>
        </ng-container>
    </div>
</div>