<div class="container" *ngIf="loading">
  <div class="loader"></div>
</div>
<div class="" *ngIf="!loading">
  <div class="x_panel">
    <div class="x_title">
      <h2 style="padding: 10px;">Check your progress</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li style="width: 24px; cursor: default"></li>
        <li style="width: 24px; cursor: default"></li>
        <li>
          <a href="javascript:void(0)" class="collapse-link" (click)="isCollapsed = !isCollapsed">
            <i *ngIf="!isCollapsed" class="fa fa-chevron-up"></i>
            <i *ngIf="isCollapsed" class="fa fa-chevron-down"></i>
          </a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="table-responsive x_content" [ngbCollapse]="isCollapsed">
      <table class="table">
        <thead>
          <tr>
            <th style="width: 15%">Steps</th>
            <th>Description</th>
            <th>Status</th>
            <th style="width: 7%" class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Asset Clustering</td>
            <td>First step of the process that aims at describing the company domain in terms of owned assets. In other
              terms this phase responds to the question "What do I own?”</td>
            <td class="text-center">
              <i *ngIf="assetClusteringStatus === 'FULL'" style="color: green" class="fa fa-check" aria-hidden="true"></i>
              <i *ngIf="assetClusteringStatus === 'EMPTY' || assetClusteringStatus === 'PENDING'" style="color: orange" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </td>
            <td class="text-center">
              <a *ngIf="assetClusteringStatus === 'EMPTY'" [routerLink]="['/identify-asset/asset-clustering']"><i class="fa fa-plus-square fa-lg"
                  placement="top" ngbTooltip="Create" aria-hidden="true"></i></a>
              <ng-container *ngIf="assetClusteringStatus === 'PENDING' || assetClusteringStatus === 'FULL'">
                <a href="javascript:void(0)" (click)="open(alert,'/identify-asset/asset-clustering')"><i
                    placement="top" ngbTooltip="Edit" class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
              </ng-container>
            </td>
          </tr>
          <tr>
            <td>Identify Threat Agents</td>
            <td>Aims at identifying who may be interested in performing the attack against the company and why, using
              as a base what emerged from asset clustering. This phase responds to the questions: “Who would attack my
              company?” and “Why somebody should attack my company?”</td>
            <td class="text-center">
              <i *ngIf="identifyThreatAgentsStatus === 'FULL'" style="color: green" class="fa fa-check" aria-hidden="true"></i>
              <i *ngIf="identifyThreatAgentsStatus === 'EMPTY' || identifyThreatAgentsStatus === 'PENDING'" style="color: orange" class="fa fa-exclamation-triangle"
                aria-hidden="true"></i>
            </td>
            <td class="text-center">
              <a *ngIf="identifyThreatAgentsStatus === 'EMPTY' && assetClusteringStatus === 'FULL'" [routerLink]="['/identify-threat-agent/questionnaires/ID_THREAT_AGENT']"><i
                  class="fa fa-plus-square fa-lg" placement="top" ngbTooltip="Create" aria-hidden="true"></i></a>
              <ng-container *ngIf="identifyThreatAgentsStatus === 'PENDING' || identifyThreatAgentsStatus === 'FULL'">
                <a href="javascript:void(0)" (click)="open(alert,'/identify-threat-agent/questionnaires/ID_THREAT_AGENT')"><i
                    placement="top" ngbTooltip="Edit" class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
              </ng-container>
            </td>
          </tr>
          <tr>
            <td>Assess Vulnerablities</td>
            <td>Measures the weak points of company surface through self-assessment (cyber maturity questionnaire). It
              responds to the question: “Which are the weaknesses of my company?”</td>
            <td class="text-center">
              <i *ngIf="assessVulnerablitiesStatus === 'FULL'" style="color: green" class="fa fa-check" aria-hidden="true"></i>
              <i *ngIf="assessVulnerablitiesStatus === 'EMPTY' || assessVulnerablitiesStatus === 'PENDING'" style="color: orange" class="fa fa-exclamation-triangle"
                aria-hidden="true"></i>
            </td>
            <td class="text-center">
              <a *ngIf="assessVulnerablitiesStatus === 'EMPTY' && identifyThreatAgentsStatus === 'FULL'" [routerLink]="['/evaluate-weakness/questionnaires/SELFASSESSMENT']"><i
                  class="fa fa-plus-square fa-lg" placement="top" ngbTooltip="Create" aria-hidden="true"></i></a>
              <ng-container *ngIf="assessVulnerablitiesStatus === 'PENDING' || assessVulnerablitiesStatus === 'FULL'">
                <a href="javascript:void(0)" (click)="open(alert,'/evaluate-weakness/questionnaires/SELFASSESSMENT')"><i
                    placement="top" ngbTooltip="Edit" class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
              </ng-container>
            </td>
          </tr>
          <tr>
            <td>Impact Evaluation</td>
            <td>Measuring the impact; "Measuring the impact of cyberattacks on firms' intangible assets"</td>
            <td class="text-center">
              <i *ngIf="impactEvaluationStatus === 'FULL'" style="color: green" class="fa fa-check" aria-hidden="true"></i>
              <i *ngIf="impactEvaluationStatus === 'EMPTY' || impactEvaluationStatus === 'PENDING'" style="color: orange" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </td>
            <td class="text-center">
              <a *ngIf="impactEvaluationStatus === 'EMPTY' && assessVulnerablitiesStatus === 'FULL'" [routerLink]="['/impact-evaluation']"><i class="fa fa-plus-square fa-lg"
                  placement="top" ngbTooltip="Create" aria-hidden="true"></i></a>
              <ng-container *ngIf="impactEvaluationStatus === 'PENDING' || impactEvaluationStatus === 'FULL'">
                <a href="javascript:void(0)" (click)="open(alert,'/impact-evaluation')"><i
                    placement="top" ngbTooltip="Edit" class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
              </ng-container>
            </td>
          </tr>
          <tr>
            <td>Risk Evaluation</td>
            <td>Manage your risk based on cost benefit analisys. The general approach includes both qualitative and
              quantitative metodologies based on risk definition (ISO31000) and risk management (ISO31010).</td>
            <td class="text-center">
              <i *ngIf="riskEvaluationStatus === 'FULL'" style="color: green" class="fa fa-check" aria-hidden="true"></i>
              <i *ngIf="riskEvaluationStatus === 'EMPTY' || riskEvaluationStatus === 'PENDING'" style="color: orange" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </td>
            <td class="text-center">
              <a *ngIf="riskEvaluationStatus === 'EMPTY' && assessVulnerablitiesStatus === 'FULL'" [routerLink]="['/risk-management/risk-evaluation']"><i class="fa fa-plus-square fa-lg"
                  placement="top" ngbTooltip="Create" aria-hidden="true"></i></a>
              <ng-container *ngIf="riskEvaluationStatus === 'PENDING' || riskEvaluationStatus === 'FULL'">
                <a href="javascript:void(0)" (click)="open(alert,'/risk-management/risk-evaluation')"><i
                    placement="top" ngbTooltip="Edit" class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #alert let-d="dismiss" let-c="close">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Edit notification</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ng-container *ngIf="">
              {{alertMessage}}
          </ng-container>
          <ng-container *ngIf="!alertMessage">
              <p>Editing such step may influence the entire assessment.</p>
              <p>If you want to proceed, just click on "OK" and edit your preferences, otherwise, you can just proceed in "view" mode whitout make any changes.</p>
              <p>Do you want to proceed?</p>
          </ng-container>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">OK</button>
        </div>
      </ng-template>
    </div>
  </div>
</div>