<div class="container" *ngIf="loading">
  <div class="loader"></div>
</div>
<div class="" *ngIf="!loading">
  <div class="x_panel" style="padding:0px !important;">
    <div class="x_title" style="padding:0px !important;">
      <h2 style="padding: 10px;">Check your progress</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li>
          <a class="collapse-link" (click)="isCollapsed = !isCollapsed">
            <i *ngIf="!isCollapsed" class="fa fa-chevron-up"></i>
            <i *ngIf="isCollapsed" class="fa fa-chevron-down"></i>
          </a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="table-responsive x_content" style="padding:0px !important;" [ngbCollapse]="isCollapsed">
      <table class="table">
        <thead>
          <tr>
            <th>Steps</th>
            <th>Description</th>
            <th>Status</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Asset Clustering</td>
            <td>First step of the process that aims at describing the company domain in terms of owned assets. In other
              terms this phase responds to the question "What do I own?”</td>
            <td class="text-center">
              <i *ngIf="assetClusteringStatus" style="color: green" class="fa fa-check" aria-hidden="true"></i>
              <i *ngIf="!assetClusteringStatus" style="color: red" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </td>
            <td class="text-center">
              <a *ngIf="!assetClusteringStatus" [routerLink]="['/identify-asset']">perform</a>
              <a *ngIf="assetClusteringStatus" (click)="open(alert,'/identify-asset')">edit</a>
            </td>
          </tr>
          <tr>
            <td>Identify Threat Agents</td>
            <td>Aims at identifying who may be interested in performing the attack against the company and why, using
              as a base what emerged from asset clustering. This phase responds to the questions: “Who would attack my
              company?” and “Why somebody should attack my company?”</td>
            <td class="text-center">
              <i *ngIf="identifyThreatAgentsStatus" style="color: green" class="fa fa-check" aria-hidden="true"></i>
              <i *ngIf="!identifyThreatAgentsStatus" style="color: red" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </td>
            <td class="text-center">
              <a *ngIf="!identifyThreatAgentsStatus" [routerLink]="['/identify-threat-agent/questionnaires/ID_THREAT_AGENT']">perform</a>
              <a *ngIf="identifyThreatAgentsStatus" (click)="open(alert,'/identify-threat-agent/questionnaires/ID_THREAT_AGENT')">edit</a>
            </td>
          </tr>
          <tr>
            <td>Assess Vulnerablities</td>
            <td>Measures the weak points of company surface through self-assessment (cyber maturity questionnaire). It
              responds to the question: “Which are the weaknesses of my company?”</td>
            <td class="text-center">
              <i *ngIf="assessVulnerablitiesStatus" style="color: green" class="fa fa-check" aria-hidden="true"></i>
              <i *ngIf="!assessVulnerablitiesStatus" style="color: red" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </td>
            <td class="text-center">
              <a *ngIf="!assessVulnerablitiesStatus" [routerLink]="['/evaluate-weakness/questionnaires/SELFASSESSMENT']">perform</a>
              <a *ngIf="assessVulnerablitiesStatus" (click)="open(alert,'/evaluate-weakness/questionnaires/SELFASSESSMENT')">edit</a>
            </td>
          </tr>
          <tr>
            <td>Impact Evaluation</td>
            <td>Measuring the impact; "Measuring the impact of cyberattacks on firms' intangible assets"</td>
            <td class="text-center">
              <i *ngIf="impactEvaluationStatus" style="color: green" class="fa fa-check" aria-hidden="true"></i>
              <i *ngIf="!impactEvaluationStatus" style="color: red" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </td>
            <td class="text-center">
              <a *ngIf="!impactEvaluationStatus" [routerLink]="['/impact-evaluation']">perform</a>
              <a *ngIf="impactEvaluationStatus" (click)="open(alert,'/impact-evaluation')">edit</a>
            </td>
          </tr>
          <tr>
            <td>Risk Evaluation</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam laoreet sit amet magna vel
              consectetur. Cras iaculis condimentum consequat. Maecenas elementum mauris nisi, eleifend vestibulum
              lacus tristique ac. Morbi euismod, massa in convallis tempor, orci massa eleifend neque, in convallis
              nibh nisi eu arcu. Nullam sodales suscipit arcu id imperdiet. In ullamcorper condimentum magna, vel
              fermentum orci semper vitae.</td>
            <td class="text-center">
              <i *ngIf="riskEvaluationStatus" style="color: green" class="fa fa-check" aria-hidden="true"></i>
              <i *ngIf="!riskEvaluationStatus" style="color: red" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </td>
            <td class="text-center">
              <a *ngIf="!riskEvaluationStatus" [routerLink]="['/risk-management/risk-evaluation']">perform</a>
              <a *ngIf="riskEvaluationStatus" (click)="open(alert,'/risk-management/risk-evaluation')">edit</a>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #alert let-d="dismiss" let-c="close">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Edit notification</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          If you continue you erase previous saved data. Do you want to proceed?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">OK</button>
        </div>
      </ng-template>
    </div>
  </div>
</div>