<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="FILE_APPENDER"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${user.dir}/logs/hermeneut.log</file>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover hourly -->
            <fileNamePattern>${user.dir}/logs/hermeneut_%d{yyyy-MM-dd_HH}.chunk%i.log.gz</fileNamePattern>

            <!-- split log files in chunks of this size -->
            <maxFileSize>${HERMENEUT_LOG_MAX_FILE_SIZE:-5MB}</maxFileSize>

            <!-- keep 7 days' worth of history -->
            <!-- 7D * 24H = 168H-->
            <maxHistory>${HERMENEUT_LOG_MAX_HISTORY_HOURS:-168}</maxHistory>

            <!-- limited to 3GB total size-->
            <totalSizeCap>${HERMENEUT_LOG_MAX_CAPACITY:-3GB}</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="STDOUT_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %highlight([%-5level]) %logger{36} - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <!--
        OFF (output no logs)
        ERROR
        WARN
        INFO
        DEBUG
        TRACE
    -->
    <!-- custom logging levels -->
    <logger name="eu.hermeneut.HermeneutApp" level="INFO"/>

    <root level="${HERMENEUT_LOG_LEVEL:-WARN}">
        <appender-ref ref="FILE_APPENDER"/>
        <appender-ref ref="STDOUT_APPENDER"/>
    </root>

</configuration>
