<ng-container *ngIf="loading">
  <div class="loader"></div>
</ng-container>
<ng-container *ngIf="!loading">
  <div class="col-md-3">
    <div class="tile-stats tiles-first-row">
      <div class="count" *ngIf="ide">{{ide | currency: 'EUR':'symbol':'1.0-0'}}</div>
      <div class="col-md-10">
          <h2>Intangible Driving Earnings</h2>
      </div>
      <div class="col-md-2">
          <a [routerLink]="['/impact-evaluation']"><i class="fa fa-link fa-lg" style="margin-top: 25px" aria-hidden="true"></i></a>
      </div>
      <small *ngIf="!ide">The Impact evaluation step was not completed</small>
    </div>
  </div>
  <div class="col-md-3">
    <div class="tile-stats tiles-first-row">
      <div class="count" *ngIf="intangibleCapital">{{intangibleCapital | currency: 'EUR':'symbol':'1.0-0'}}</div>
      <div class="col-md-10">
          <h2>Intangible Capital</h2>
      </div>
      <div class="col-md-2">
          <a [routerLink]="['/impact-evaluation']"><i class="fa fa-link fa-lg" style="margin-top: 25px" aria-hidden="true"></i></a>
      </div>
      <small *ngIf="!intangibleCapital">The Impact evaluation step was not completed</small>
    </div>
  </div>
  <div class="col-md-3">
    <div class="tile-stats tiles-first-row">
      <div class="count" *ngIf="physicalReturn">{{physicalReturn/100 | percent:'1.0-2'}}</div>
      <div class="col-md-10">
          <h2>Physical Asset Return</h2>
      </div>
      <div class="col-md-2">
          <a [routerLink]="['/impact-evaluation']"><i class="fa fa-link fa-lg" style="margin-top: 25px" aria-hidden="true"></i></a>
      </div>
      <small *ngIf="!physicalReturn">The Impact evaluation step was not completed</small>
    </div>
  </div>
  <div class="col-md-3">
    <div class="tile-stats tiles-first-row">
      <div class="count" *ngIf="financialReturn">{{financialReturn/100 | percent:'1.0-2'}}</div>
      <div class="col-md-10">
          <h2>Financial Asset Return</h2>
      </div>
      <div class="col-md-2">
          <a [routerLink]="['/impact-evaluation']"><i class="fa fa-link fa-lg" style="margin-top: 25px" aria-hidden="true"></i></a>
      </div>
      <small *ngIf="!financialReturn">The Impact evaluation step was not completed</small>
    </div>
  </div>
</ng-container>