<div class="container" *ngIf="loading">
  <div class="loader"></div>
</div>
<div class="container" *ngIf="!loading">
  <div class="x_panel" style="padding:0px !important;">
    <div class="x_title" style="padding:0px !important;">
      <h2 style="padding: 10px;">Overall Likelihood</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li>
          <a class="collapse-link" (click)="isCollapsed = !isCollapsed">
            <i *ngIf="!isCollapsed" class="fa fa-chevron-up"></i>
            <i *ngIf="isCollapsed" class="fa fa-chevron-down"></i>
          </a>
        </li>
        <!--
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Export</a>
                    </li>
                  </ul>
                </li>
                -->
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="table-responsive x_content" style="padding:0px !important;" [ngbCollapse]="isCollapsed">
        <div class="col-md-4">
          <h4 class="text-center">Initial</h4>
          <div style="display: block" *ngIf="initialData.length > 0">
            <canvas baseChart [data]="initialData" [labels]="initialLabels" [chartType]="type" [legend]="legend"
              [colors]="color"></canvas>
          </div>
          <div style="display: block" *ngIf="initialData.length === 0" class="text-center">
            <p>No data available, please complete the relative questionnaire!</p>
          </div>
        </div>
        <div class="col-md-4">
          <h4 class="text-center">Contextual</h4>
          <div style="display: block" *ngIf="contextualData.length > 0">
            <canvas baseChart [data]="contextualData" [labels]="contextualLabels" [chartType]="type" [legend]="legend"
              [colors]="color"></canvas>
          </div>
          <div style="display: block" *ngIf="contextualData.length === 0" class="text-center">
            <p>No data available, please complete the relative questionnaire!</p>
          </div>
        </div>
        <div class="col-md-4">
          <h4 class="text-center">Refined</h4>
          <div style="display: block" *ngIf="refinedData.length > 0">
            <canvas baseChart [data]="refinedData" [labels]="refinedLabels" [chartType]="type" [legend]="legend"
              [colors]="color"></canvas>
          </div>
          <div style="display: block" class="text-center" *ngIf="refinedData.length === 0">
            <p>No data available, please contact your external auditor!</p>
          </div>
        </div>
    </div>
  </div>
</div>