<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myThreatAgentLabel" jhiTranslate="hermeneutApp.threatAgent.home.createOrEditLabel">Create or edit a Threat Agent</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!threatAgent.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="threatAgent.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.threatAgent.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="threatAgent.name" required/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.threatAgent.skillLevel" for="field_skillLevel">Skill Level</label>
            <select class="form-control" name="skillLevel" [(ngModel)]="threatAgent.skillLevel" id="field_skillLevel"  required>
                <option value="HIGH">{{'hermeneutApp.SkillLevel.HIGH' | translate}}</option>
                <option value="MEDIUM">{{'hermeneutApp.SkillLevel.MEDIUM' | translate}}</option>
                <option value="LOW">{{'hermeneutApp.SkillLevel.LOW' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.skillLevel?.dirty && editForm.controls.skillLevel?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.skillLevel?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.threatAgent.intent" for="field_intent">Intent</label>
            <select class="form-control" name="intent" [(ngModel)]="threatAgent.intent" id="field_intent"  required>
                <option value="HOSTILE">{{'hermeneutApp.Intent.HOSTILE' | translate}}</option>
                <option value="NON_HOSTILE">{{'hermeneutApp.Intent.NON_HOSTILE' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.intent?.dirty && editForm.controls.intent?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.intent?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.threatAgent.access" for="field_access">Access</label>
            <select class="form-control" name="access" [(ngModel)]="threatAgent.access" id="field_access"  required>
                <option value="INSIDER">{{'hermeneutApp.TA_Access.INSIDER' | translate}}</option>
                <option value="OUTSIDER">{{'hermeneutApp.TA_Access.OUTSIDER' | translate}}</option>
                <option value="BOTH">{{'hermeneutApp.TA_Access.BOTH' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.access?.dirty && editForm.controls.access?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.access?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.threatAgent.created" for="field_created">Created</label>
            <div class="d-flex">
                <input id="field_created" type="datetime-local" class="form-control" name="created" [(ngModel)]="threatAgent.created"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.threatAgent.modified" for="field_modified">Modified</label>
            <div class="d-flex">
                <input id="field_modified" type="datetime-local" class="form-control" name="modified" [(ngModel)]="threatAgent.modified"
                />
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="hermeneutApp.threatAgent.motivation" for="field_motivation">Motivation</label>
            <select class="form-control" id="field_motivation" multiple name="motivation" [(ngModel)]="threatAgent.motivations">
                <option [ngValue]="getSelected(threatAgent.motivations, motivationOption)" *ngFor="let motivationOption of motivations; trackBy: trackMotivationById">{{motivationOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
