<div class="card">
    <div class="card-body">
        <a href="javascript:void(0)" (click)="isDescriptionCollapsed = !isDescriptionCollapsed" [attr.aria-expanded]="!isDescriptionCollapsed"
            aria-controls="descriptionCollapsible" class="float-right">
            <i class="fa fa-question-circle fa-lg" aria-hidden="true"></i>
        </a>
        <h5 class="card-title">Priority and Magnitude definition.</h5>
        <i [ngbCollapse]="isDescriptionCollapsed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at neque
                malesuada, placerat ipsum eu, molestie urna. Integer sollicitudin sollicitudin diam, sit amet sagittis enim
                laoreet eget. Aenean pulvinar maximus ex sit amet tempus. Suspendisse vehicula arcu ante, non facilisis
                magna dictum ut.<br></i>
        <ng-container class="card-text" *ngIf="!myAssets">
            <div class="loader"></div>
        </ng-container>
        <ng-container class="card-text" *ngIf="myAssets">
            <div class="col-md-3">
                <div class="list-group">
                    <ng-container *ngFor="let myAsset of myAssets">
                        <a href="javascript:void(0)" (click)="updateMyAsset(false);selectAsset(myAsset)" class="list-group-item list-group-item-action"
                            [ngClass]="{'active': selectedAsset && myAsset.id === selectedAsset.id}">
                            <i *ngIf="myAssetStatus.get(myAsset.id) === 'COMPLETED'" class="fa fa-check fa-lg" aria-hidden="true" style="color: green"></i>
                            <i *ngIf="loading && myAssetStatus.get(myAsset.id) === 'IN EVALUATION'" class="fa fa-circle-o-notch fa-spin fa-lg fa-fw"></i>
                            <i *ngIf="myAssetStatus.get(myAsset.id) === 'NOT COMPLETED'" class="fa fa-minus" aria-hidden="true" style="color: grey"></i>
                            {{myAsset.asset.name}}</a>
                    </ng-container>
                </div>
            </div>
            <div class="col-md-9">
                <ng-container *ngIf="selectedAsset">
                    <div class="row">
                        <h5>Considering your organization, please assign priorities to the <b>{{selectedAsset.asset.name}}</b> contained in <i>{{selectedAsset.asset.assetcategory.name}}</i> category,
                            according to its relevance in your organization</h5>
                        <div class="col-md-12 text-center">
                            <div class="col-md-4 offset-md-4">
                                <div ngbDropdown class="d-inline-block">
                                    <button *ngIf="selectedAsset.ranking !== null && selectedAsset.ranking !== undefined && selectedAsset.ranking >= 0" class="btn btn-outline-primary" id="priorityDrop"
                                        ngbDropdownToggle>{{priorities[selectedAsset.ranking]}}: {{selectedAsset.ranking}}</button>
                                    <button *ngIf="selectedAsset.ranking === null || selectedAsset.ranking === undefined" class="btn btn-outline-primary" id="priorityDrop"
                                        ngbDropdownToggle>Chose priority level</button>
                                    <div ngbDropdownMenu aria-labelledby="priorityDrop">
                                        <ng-container *ngFor="let rankLevel of priorities; let i = index">
                                            <button class="dropdown-item" (click)="setSelectedAssetPriority(rankLevel)">{{rankLevel}}: {{i+1}}</button>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <ng-container *ngIf="isIntangible">
                            <div class="row">
                                <div class="col-md-10">
                                    <h5>Have you ever quantified the estimated value of this asset?</h5>
                                </div>
                                <div class="col-md-1">
                                    <div class="chipsContainer">
                                        <div class="badge chips chips-name" [ngClass]="{'badge-light': !selectedAsset.estimated, 'badge-primary': selectedAsset.estimated}"
                                            (click)="selectedAsset.estimated = true; isMyAssetUpdated = true;">
                                            YES
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="chipsContainer">
                                        <div class="badge chips chips-name" [ngClass]="{'badge-light': selectedAsset.estimated, 'badge-primary': !selectedAsset.estimated}"
                                            (click)="selectedAsset.estimated = false; isMyAssetUpdated = true;">
                                            NO
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" *ngIf="selectedAsset.estimated">
                                    <h5>If you have this information, are you available to share the order of magnitude
                                        of this asset?</h5>
                                    <div class="col-md-4 offset-md-4 text-center">
                                        <div ngbDropdown class="d-inline-block">
                                            <button *ngIf="selectedAsset.magnitude" class="btn btn-outline-primary" id="magnitudeDrop"
                                                ngbDropdownToggle>{{priorities[selectedAsset.magnitude]}}: {{selectedAsset.magnitude}}</button>
                                            <button *ngIf="selectedAsset.magnitude === null || selectedAsset.magnitude === undefined" class="btn btn-outline-primary" id="magnitudeDrop"
                                                ngbDropdownToggle>Chose magnitude level</button>
                                            <div ngbDropdownMenu aria-labelledby="magnitudeDrop">
                                                <ng-container *ngFor="let magnitudeLevel of priorities; let i = index">
                                                    <button class="dropdown-item" (click)="setSelectedAssetMagnitudo(magnitudeLevel)">{{magnitudeLevel}}: {{i+1}}</button>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <!--
                    <div class="row">
                        <jhi-alert></jhi-alert>
                    </div>
                    -->
                </ng-container>
                <ng-container *ngIf="!selectedAsset">
                    <div class="text-center" style="margin-top: 50px">
                        <p style="color: orange"><i class="fa fa-exclamation-triangle fa-4x" aria-hidden="true"></i></p>
                        <p style="color: grey">Please select one asset from the list at left of the screen!</p>
                    </div>
                </ng-container>
            </div>
            <div class="col-md-12 text-center">
                <div class="col-md-3">
                    <button class="btn btn-primary btn-lg btn-block" [routerLink]="['../asset-clustering']"><i class="fa fa-arrow-left fa-lg"
                            aria-hidden="true"></i>
                        Prev</button>
                </div>
                <div class="col-md-3 offset-md-6">
                    
                        <ng-container *ngIf="isFull">
                                <button class="btn btn-primary btn-lg btn-block"
                                (click)="updateMyAsset(true)">
                                Next 
                                <i *ngIf="!loading" class="fa fa-arrow-right fa-lg" aria-hidden="true"></i>
                                <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin fa-lg fa-fw"></i>
                            </button>
                        </ng-container>
                        <ng-container *ngIf="!isFull">
                                <button class="btn btn-secondary btn-lg btn-block" ngbTooltip="Please assign a priority to all indetified assets">
                                Next 
                                <i *ngIf="!loading" class="fa fa-arrow-right fa-lg" aria-hidden="true"></i>
                                <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin fa-lg fa-fw"></i>
                            </button>
                        </ng-container>
                        
                </div>
            </div>
        </ng-container>
    </div>
</div>