<div class="container" *ngIf="loading">
  <div class="loader"></div>
</div>
<div class="container-fluid" *ngIf="!loading">
  <ng-container *ngIf="asset && attacks">
    <div class="row">
      <h4>{{asset.asset.name}}</h4>
    </div>
    <div class="row">
      <!--
        <ul class="list-group">
        <li *ngFor="let attack of attacks" class="list-group-item">
          <a [routerLink]="['../../attack-strategy-mgm/'+attack.attackStrategy.id]">{{attack.attackStrategy.name}}</a>
        </li>
        </ul>
      -->
      <!--INIZIO SEZIONE DA MODDARE-->
      <div *ngIf="attacks.length>0" class="table-responsive table-hover-no-pointer">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Attack Strategy</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of attacks | paginate: attacksPaginator">
              <tr>
                <th scope="row" ngbTooltip="Click on Attack name for more details"><a href="javascript:void(0)" (click)="selectAttack(item.attackStrategy)">{{item.attackStrategy.name}}</a></th>
              </tr>
              <ng-container *ngIf="selectedAttack">
                <tr *ngIf="selectedAttack.id === item.attackStrategy.id">
                  <td colspan="1">
                    <ng-container *ngIf="loadingMitigationsTable">
                      <div class="loader"></div>
                    </ng-container>
                    <table *ngIf="!loadingMitigationsTable && selectedMitigations.length>0" class="table table-striped">
                      <thead>
                        <tr>
                          <th>Mitigation</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let mitigation of selectedMitigations | paginate: mitigationsPaginator">
                          <tr>
                            <td><a href="javascript:void(0)" (click)="viewDivDetails(mitigation.id)">{{mitigation.name}}</a></td>
                          </tr>
                          <tr *ngIf="isViewDivDetailsVisible && datailParam === mitigation.id">
                            <div class="row">
                              <div class="col-md-12 text-right">
                                <a href="javascript:void(0)" (click)="isViewDivDetailsVisible = false"><i class="fa fa-times fa-lg" aria-hidden="true"></i></a>
                              </div>
                              <div class="col-md-12">
                                <jhi-mitigation-mgm-detail [id]="datailParam" [isButtonVisible]="false"></jhi-mitigation-mgm-detail>
                              </div>
                            </div>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                    <div *ngIf="!loadingMitigationsTable && selectedMitigations.length===0">
                      There are no mitigations!
                    </div>
                    <div class="text-center">
                      <pagination-controls (pageChange)="onMitigationPageChange($event)" [id]="mitigationsPaginator.id"></pagination-controls>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
        <div class="text-center">
          <pagination-controls (pageChange)="onAttackPageChange($event)" [id]="attacksPaginator.id"></pagination-controls>
        </div>
      </div>
      <div *ngIf="attacks.length===0" class="text-center">
        This Asset has no attacks associated!
      </div>
      <!--FINE SEZIONE DA MODDARE-->
    </div>
  </ng-container>
  <ng-container *ngIf="!asset && !attacks">
    <div class="text-center" style="margin-top:40px">
      <p>Please select one attack strategy from Likelihood/Vulnerability Boston square evaluated in <a [routerLink]="['../risk-evaluation']">risck
          scenarios</a> section</p>
    </div>
  </ng-container>
</div>