<div class="container-fluid">
  <div class="row">
    <h2>Cyber Posture</h2>
  </div>
  <div class="row">
    <div class="col-md-3">
      <jhi-company-widget></jhi-company-widget>
    </div>
    <div class="col-md-3">
      <jhi-asset-widget></jhi-asset-widget>
    </div>
    <div class="col-md-3">
      <jhi-threat-agents-widget></jhi-threat-agents-widget>
    </div>
    <div class="col-md-3">
      <jhi-attack-strategies-widget></jhi-attack-strategies-widget>
    </div>
  </div>
  <div class="row">
    <h2>Vulnerabilities</h2>
  </div>
  <div class="row">
    <div class="col-md-6" style="background-color: greenyellow">
      OVERALL LIKELIHOOD WIDGET
    </div>
    <div class="col-md-6" style="background-color: blueviolet">
      MOST DANGEROUS THREAT AGENTS WIDGET
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="background-color: rebeccapurple">
      MOST VULNERABLE ASSET WIDGET
    </div>
  </div>
  <div class=row>
    <div class="col-md-12">
      <jhi-attack-map-widget></jhi-attack-map-widget>
    </div>
  </div>
  <div class="row">
    <h2>Impact Evaluation</h2>
  </div>
  <div class="row">
    <div class="col-md-6" style="background-color: purple">
      FINANCIAL DATA WIDGET
    </div>
    <div class="col-md-6" style="background-color: black">
      SPLITTING WIDGET
    </div>
  </div>
  <div class="row">
    <h2>Risk Evaluation</h2>
  </div>
  <div class="row">
    <div class="col-md-12" style="background-color: pink">
      ASSET AT RISK WIDGET
    </div>
  </div>
</div>