<div class="container-fluid" *ngIf="mySelf">
  <div class="row">
    <div class="col-md-12">
      <jhi-step-info-widget></jhi-step-info-widget>
    </div>
  </div>
  <div class="row">
    <h2>Cyber Posture</h2>
  </div>
  <div class="row">
    <div class="col-md-3">
      <jhi-company-widget></jhi-company-widget>
    </div>
    <div class="col-md-3">
      <jhi-asset-widget></jhi-asset-widget>
    </div>
    <div class="col-md-3">
      <jhi-threat-agents-widget></jhi-threat-agents-widget>
    </div>
    <div class="col-md-3">
      <jhi-customers-widget></jhi-customers-widget>
    </div>
    <!--
    <div class="col-md-3">
      <jhi-attack-strategies-widget></jhi-attack-strategies-widget>
    </div>
    -->
  </div>
  <div class="row">
    <h2>Vulnerabilities</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      <jhi-overall-likelihood-widget></jhi-overall-likelihood-widget>
    </div>
    <div class="col-md-6">
      <jhi-most-dangerous-threat-agents-widget></jhi-most-dangerous-threat-agents-widget>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <jhi-most-dangerous-assets-widget></jhi-most-dangerous-assets-widget>
    </div>
  </div>
  <div class=row>
    <div class="col-md-12">
      <jhi-attack-map-widget></jhi-attack-map-widget>
    </div>
  </div>
  <div class="row">
    <h2>Impact Evaluation</h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <jhi-financial-value-widget></jhi-financial-value-widget>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <jhi-ebits-widget></jhi-ebits-widget>
    </div>
    <div class="col-md-5">
      <jhi-tangible-financial-widget></jhi-tangible-financial-widget>
    </div>
    <div class="col-md-5">
      <jhi-intangible-financial-widget></jhi-intangible-financial-widget>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <jhi-losses-widget></jhi-losses-widget>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <jhi-impact-widget></jhi-impact-widget>
    </div>
  </div>
  <div class="row">
    <h2>Risk Evaluation</h2>
  </div>
  <div class="row card">
      <div class="col-md-12" style="margin-top:20px">
        <jhi-risk-square-widget></jhi-risk-square-widget>
      </div>
      <div class="col-md-12" style="margin-bottom:20px">
        <jhi-asset-at-risk-widget></jhi-asset-at-risk-widget>
      </div>
  </div>
  <!--Remove last row when the Asset Risk html is done-->
  <div class="row">
    <p>&nbsp;</p>
  </div>
</div>