<div class="row">
    <div class="col-lg-9 col-md-12">
        <div class="card-box">
            <h2><span>CISO Deputies</span></h2>
        </div>
    </div>
    <div class="col-lg-3 col-md-12">
        <div class="card-box">
            <button class="btn btn-block btn-primary waves-effect waves-light btn-info jh-create-entity"
                    [routerLink]="['/', { outlets: { popup: ['user-management-new'] } }]">
                <i class="fas fa-plus"></i>
                <span class="hidden-sm-down" jhiTranslate="userManagement.home.createLabel">
           Create a new User
            </span>
            </button>
        </div>
    </div>
</div>
