.btn{
    font-size: 14px !important;
    font-weight: 400 !important;
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif !important;
    white-space: normal !important;
}

.low {
    background-color: #2ecc71;
    color: black;
}

.low-medium {
    background-color: #f1c40f;
    color: black;
}

.medium {
    background-color: #f39c12;
    color: black;
}

.medium-high {
    background-color: #d35400;
    color: black;
}

.high {
    background-color:#c0392b;
    color: black;
}

.level{
    background: #cc99ff4d;
}

.disabled {
    background-color: #808080;
    color: white;
}
