<div class="row card-box">
    <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
            <mat-panel-title class="py-2">
                <h4>Impact Levels Description</h4>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <table class="table" *ngIf="descriptions">
            <thead class="thead-light">
            <tr>
                <th class="text-center" style="font-size: medium;" scope="col">Level of Impact</th>
                <th class="text-center" style="font-size: medium;" scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let description of descriptions"
                class="thead-light">
                <th style="font-size: medium;" scope="row">{{description.impact | replace:'_':' ' | titlecase}}</th>
                <td>
                    <p>{{description.description}}</p>
                </td>
            </tr>
            </tbody>
        </table>
    </mat-expansion-panel>
</div>
