<button type="button" (click)="debug = !debug">Debug {{debug}}</button>

<form *ngIf="form" (ngSubmit)="submitDispatcher()" [formGroup]="form" role="form">

    <div [ngSwitch]="role">
        <div *ngSwitchCase="roleEnum.ROLE_CISO">
            <div *ngFor="let question of questionsArray; trackBy: trackByID"
                 [ngClass]="{'ng-valid': isValid(question.id) === true, 'ng-invalid': isValid(question.id) === false}">

                <label class="form-control-label" [attr.for]="question?.id"><h3>
                    {{question?.name}}</h3>
                </label>

                <div *ngIf="debug">
            <pre>
                {{question | json}}
            </pre>
                </div>

                <mat-radio-group [formControlName]="question.id" class="radio-group">
                    <mat-radio-button *ngFor="let answer of sort(question.answers)" class="radio-button"
                                      [value]="answer">
                        {{answer.name}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="form-row">
                <button class="btn btn-success btn-lg" type="submit" [disabled]="!form.valid">Submit</button>
                <button class="btn btn-primary btn-lg" type="button" (click)="freezeQuestionnaireStatus()">Freeze
                </button>
                <button class="btn btn-danger" type="reset" (click)="form.reset()">Reset</button>
            </div>
        </div>

        <div *ngSwitchCase="roleEnum.ROLE_EXTERNAL_AUDIT">
            <div *ngIf="questionnaire.purpose === purposeEnum.SELFASSESSMENT">
                <div *ngFor="let question of questionsArray; trackBy: trackByID"
                     [ngClass]="{'ng-valid': isValid(question.id) === true, 'ng-invalid': isValid(question.id) === false}">

                    <label class="form-control-label" [attr.for]="question?.id"><h3>
                        {{question?.name}}</h3>
                    </label>

                    <div *ngIf="debug">
                    <pre>
                        {{question | json}}
                    </pre>
                    </div>

                    <table>
                        <thead>
                        <tr>
                            <th>CISO</th>
                            <th>External</th>
                            <th>Note</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>
                                <mat-radio-group [formControlName]="question.id" class="radio-group">
                                    <mat-radio-button *ngFor="let answer of sort(question.answers)" class="radio-button"
                                                      [value]="answer">
                                        {{answer.name}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </td>

                            <td>
                                <mat-radio-group [formControlName]="question.id + '.external'" class="radio-group">
                                    <mat-radio-button *ngFor="let answer of sort(question.answers)" class="radio-button"
                                                      [value]="answer">
                                        {{answer.name}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </td>

                            <td>
                                <mat-form-field>
                                    <textarea matInput [formControlName]="question.id + '.note'" [rows]="5"
                                              placeholder="Notes"></textarea>
                                </mat-form-field>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="form-row">
                    <button class="btn btn-success btn-lg" type="submit" [disabled]="!form.valid">Submit</button>
                    <button class="btn btn-primary btn-lg" type="button" (click)="freezeQuestionnaireStatus()">Freeze
                    </button>
                    <button class="btn btn-danger" type="reset" (click)="form.reset()">Reset</button>
                </div>
            </div>
        </div>

        <div *ngSwitchDefault="">
            <h2>The role {{role}} is not allowed to perform this action</h2>
        </div>
    </div>
</form>

<pre *ngIf="form && debug">
    {{form.value | json}}
</pre>
