<div class="container" *ngIf="loading || loadingRiskLevel">
  <div class="loader"></div>
</div>
<div class="container-fluid" *ngIf="selectedAsset && criticalLevel && !detailsLoading && !loadingRiskLevel">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{selectedAsset.asset.name}}</h5>
      <ng-container class="card-text">
        <div class="row">
          <div class="col-md-12" style="margin-top:15px">
            <div class="col-md-2 text-left">
              <b>Likelihood</b>
            </div>
          </div>
          <br>
          <div *ngFor="let j of squareRowElement" class="col-md-12">
            <div class="col-md-1 text-right">
              <ng-container *ngIf="j!==lastSquareRowElement">{{lastSquareRowElement-j}}
              </ng-container>
            </div>
            <ng-container *ngIf="j===lastSquareRowElement">
              <div *ngFor="let i of squareColumnElement" class="col-md-2 text-center">
                {{i}}
              </div>
              <div class="col-md-12 text-right" style="margin-bottom: 15px">
                <b>Vulnerability</b>
              </div>
            </ng-container>
            <ng-container *ngIf="j!==lastSquareRowElement">
              <div *ngFor="let i of squareColumnElement" class="col-md-2">
                <div class="text-center boston-square-text"
                  [ngClass]="{'low-level': whichLevel(lastSquareRowElement-j, i) === 'low', 'medium-level': whichLevel(lastSquareRowElement-j, i) === 'medium', 'high-level': whichLevel(lastSquareRowElement-j, i) === 'high'}"
                  placement="top"
                  ngbTooltip="{{attacksToolTipLoaded ? attacksToolTip.get(concatenateAndParse([selectedAsset.id,lastSquareRowElement-j, i])) : ''}}">
                  <ng-container *ngIf="whichContentByCell(lastSquareRowElement-j, i, selectedAsset,
                                                                        'likelihood-vulnerability')!==''">
                    {{whichContentByCell(lastSquareRowElement-j,
                                        i, selectedAsset,
                                        'likelihood-vulnerability')}}
                  </ng-container>
                  <ng-container *ngIf="whichContentByCell(lastSquareRowElement-j, i, selectedAsset,
                                                                        'likelihood-vulnerability')===''">
                    &nbsp;
                  </ng-container>
                </div>
              </div>
              <div class="col-md-1"></div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <h5>Impact: {{selectedAsset.impact}}</h5>
          </ng-template>
          <ng-template ngbPanelContent>
            <ng-container>
              <p>This impact value was evaluated by this formula:
                <b>{{impactFormula | replace:'_':' ' | titlecase}}</b></p>
              <ngb-tabset>
                <ngb-tab title="Direct Cost">
                  <ng-template ngbTabContent>
                    <div class="col-md-12" *ngIf="directImpactTable.length === 0">
                      <p>No attack cost was defined for this asset yet!</p>
                      <p>If you want, you can define them in the <a href="javascript:void(0)"
                          [routerLink]="['/identify-asset/asset-clustering']">Asset
                          Clustering</a> section!</p>
                    </div>
                    <table class="table" *ngIf="directImpactTable.length > 0">
                      <thead>
                        <tr>
                          <th scope="col" width="30%">Attack Cost</th>
                          <th scope="col">Economic Impact</th>
                          <th scope="col">Formula</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let impact of directImpactTable">
                          <tr *ngIf="impact.direct">
                            <th scope="row" *ngIf="impact.attackCostParams"><a href="javascript:void(0)"
                                (click)="selectAttackCost(impact)">{{impact.attackCost.type | replace:'_':' ' | titlecase}}</a>
                            </th>
                            <td *ngIf="!impact.attackCostParams">
                              {{impact.attackCost.type | replace:'_':' ' | titlecase}}
                            </td>
                            <td>{{impact.attackCost.costs | currency:'EUR'}}
                            </td>
                            <td *ngIf="impact.formula">
                              {{impact.formula | replace:'_':' ' | titlecase}}
                            </td>
                            <td *ngIf="!impact.formula">-</td>
                          </tr>
                          <ng-container *ngIf="selectedImpact && selectedImpact.direct">
                            <tr *ngIf="selectedImpact.attackCost.id === impact.attackCost.id">
                              <td colspan="3">
                                <table class="col-md-12">
                                  <thead>
                                    <tr>
                                      <th scope="col" class="text-center align-middle">
                                        Param</th>
                                      <th scope="col" class="text-center align-middle">
                                        Value</th>
                                      <th scope="col" class="text-center align-middle">
                                        Value min</th>
                                      <th scope="col" class="text-center align-middle">
                                        Value max</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let param of selectedImpact.attackCostParams"
                                      class="text-center align-middle">
                                      <td>{{param.type | replace:'_':' ' | titlecase}}
                                      </td>
                                      <td *ngIf="isMoney(param.type)">
                                        {{param.value | currency:'EUR'}}
                                      </td>
                                      <td *ngIf="isFraction(param.type)">
                                        {{param.value | number : '1.1-1'}}%
                                      </td>
                                      <td *ngIf="!isMoney(param.type) && !isFraction(param.type)">
                                        {{param.value}}</td>
                                      <td *ngIf="isMoney(param.type) && param.min">
                                        {{param.min | currency:'EUR'}}
                                      </td>
                                      <td *ngIf="isFraction(param.type) && param.min">
                                        {{param.min}}%</td>
                                      <td *ngIf="!isMoney(param.type) && !isFraction(param.type) && param.min">
                                        {{param.min}}</td>
                                      <td *ngIf="!param.min">-</td>
                                      <td *ngIf="isMoney(param.type) && param.max">
                                        {{param.max | currency:'EUR'}}
                                      </td>
                                      <td *ngIf="isFraction(param.type) && param.max">
                                        {{param.max}}%</td>
                                      <td *ngIf="!isMoney(param.type) && !isFraction(param.type) && param.max">
                                        {{param.max}}</td>
                                      <td *ngIf="!param.max">-</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </ng-container>
                        </ng-container>
                      </tbody>
                    </table>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="Indirect Cost">
                  <ng-template ngbTabContent>
                    <div class="col-md-12" *ngIf="indirectImpactTable.length === 0">
                      <p>No attack cost was defined for this asset yet!</p>
                      <p>If you want, you can define them in the <a href="javascript:void(0)"
                          [routerLink]="['/identify-asset/asset-clustering']">Asset
                          Clustering</a> section!</p>
                    </div>
                    <table class="table" *ngIf="indirectImpactTable.length > 0">
                      <thead>
                        <tr>
                          <th scope="col" width="30%">Attack Cost</th>
                          <th scope="col">Economic Impact</th>
                          <th scope="col">Formula</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let impact of indirectImpactTable">
                          <tr *ngIf="!impact.direct">
                            <th scope="row" *ngIf="impact.attackCostParams"><a href="javascript:void(0)"
                                (click)="selectAttackCost(impact)">{{impact.attackCost.type | replace:'_':' ' | titlecase}}</a>
                            </th>
                            <td *ngIf="!impact.attackCostParams">
                              {{impact.attackCost.type | replace:'_':' ' | titlecase}}
                            </td>
                            <td>{{impact.attackCost.costs | currency:'EUR'}}
                            </td>
                            <td *ngIf="impact.formula">
                              {{impact.formula | replace:'_':' ' | titlecase}}
                            </td>
                            <td *ngIf="!impact.formula">-</td>
                          </tr>
                          <ng-container *ngIf="selectedImpact && !selectedImpact.direct">
                            <tr *ngIf="selectedImpact.attackCost.id === impact.attackCost.id">
                              <td colspan="3">
                                <table class="col-md-12">
                                  <thead>
                                    <tr>
                                      <th scope="col" class="text-center align-middle">
                                        Param</th>
                                      <th scope="col" class="text-center align-middle">
                                        Value</th>
                                      <th scope="col" class="text-center align-middle">
                                        Value min</th>
                                      <th scope="col" class="text-center align-middle">
                                        Value max</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let param of selectedImpact.attackCostParams"
                                      class="text-center align-middle">
                                      <td>{{param.type | replace:'_':' ' | titlecase}}
                                      </td>
                                      <td *ngIf="isMoney(param.type)">
                                        {{param.value | currency:'EUR'}}
                                      </td>
                                      <td *ngIf="isFraction(param.type)">
                                        {{param.value | number : '1.1-1'}}%
                                      </td>
                                      <td *ngIf="!isMoney(param.type) && !isFraction(param.type)">
                                        {{param.value}}</td>
                                      <td *ngIf="isMoney(param.type) && param.min">
                                        {{param.min | currency:'EUR'}}
                                      </td>
                                      <td *ngIf="isFraction(param.type) && param.min">
                                        {{param.min}}%</td>
                                      <td *ngIf="!isMoney(param.type) && !isFraction(param.type) && param.min">
                                        {{param.min}}</td>
                                      <td *ngIf="!param.min">-</td>
                                      <td *ngIf="isMoney(param.type) && param.max">
                                        {{param.max | currency:'EUR'}}
                                      </td>
                                      <td *ngIf="isFraction(param.type) && param.max">
                                        {{param.max}}%</td>
                                      <td *ngIf="!isMoney(param.type) && !isFraction(param.type) && param.max">
                                        {{param.max}}</td>
                                      <td *ngIf="!param.max">-</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </ng-container>
                        </ng-container>
                      </tbody>
                    </table>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </ng-container>
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <h5>Threat Agents</h5>
          </ng-template>
          <ng-template ngbPanelContent>
            <ngb-tabset>
              <ngb-tab title="Level of interest >= 75%">
                <ng-template ngbTabContent>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Threat Agent</th>
                        <th scope="col">Level of interest</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="threatAgentInterest.length === 0">
                      <p>No data found!</p>
                    </tbody>
                    <tbody *ngIf="threatAgentInterest.length > 0">
                      <tr *ngFor="let threat of threatAgentInterest">
                        <td *ngIf="(threat.levelOfInterest * 100) >= 75">
                          {{threat.name}}
                        </td>
                        <td *ngIf="(threat.levelOfInterest * 100) >= 75">
                          {{threat.levelOfInterest | percent}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Level of interest < 75%">
                <ng-template ngbTabContent>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Threat Agent</th>
                        <th scope="col">Level of interest</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="threatAgentInterest.length === 0">
                      <p>No data found!</p>
                    </tbody>
                    <tbody *ngIf="threatAgentInterest.length > 0">
                      <tr *ngFor="let threat of threatAgentInterest">
                        <td *ngIf="(threat.levelOfInterest * 100) < 75">
                          {{threat.name}}
                        </td>
                        <td *ngIf="(threat.levelOfInterest * 100) < 75">
                          {{threat.levelOfInterest | percent}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <h5>Attack Strategies</h5>
          </ng-template>
          <ng-template ngbPanelContent>
            <table class="table">
              <thead>
                <tr>
                  <th>Attack Strategy</th>
                  <th>Mitigations</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let attackChance of attackChances">
                  <td>{{attackChance.attackStrategy.name}}</td>
                  <td>
                    <span *ngFor="let mitigation of attackChance.attackStrategy.mitigations; let last = last">
                      <a class="form-control-static"
                        [routerLink]="['../mitigation-mgm', mitigation?.id ]">{{mitigation.name}}</a>{{last
                                            ? '' : ', '}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
</div>