<div>
    <h2>
        <span jhiTranslate="hermeneutApp.securityImpact.home.title">Security Impacts</span>
        <button class="btn btn-primary float-right jh-create-entity create-security-impact-mgm" [routerLink]="['/', { outlets: { popup: ['security-impact-mgm-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="hermeneutApp.securityImpact.home.createLabel">
            Create new Security Impact
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="securityImpacts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="hermeneutApp.securityImpact.securityPillar">Security Pillar</span></th>
            <th><span jhiTranslate="hermeneutApp.securityImpact.impact">Impact</span></th>
            <th><span jhiTranslate="hermeneutApp.securityImpact.operation">Operation</span></th>
            <th><span jhiTranslate="hermeneutApp.securityImpact.overallSecurityImpact">Overall Security Impact</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let securityImpact of securityImpacts ;trackBy: trackId">
                <td><a [routerLink]="['../security-impact-mgm', securityImpact.id ]">{{securityImpact.id}}</a></td>
                <td jhiTranslate="{{'hermeneutApp.SecurityPillar.' + securityImpact.securityPillar}}">{{securityImpact.securityPillar}}</td>
                <td jhiTranslate="{{'hermeneutApp.DataImpact.' + securityImpact.impact}}">{{securityImpact.impact}}</td>
                <td>
                    <div *ngIf="securityImpact.operation">
                        <a [routerLink]="['../data-operation-mgm', securityImpact.operation?.id ]" >{{securityImpact.operation?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="securityImpact.overallSecurityImpact">
                        <a [routerLink]="['../overall-security-impact-mgm', securityImpact.overallSecurityImpact?.id ]" >{{securityImpact.overallSecurityImpact?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../security-impact-mgm', securityImpact.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'security-impact-mgm/'+ securityImpact.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'security-impact-mgm/'+ securityImpact.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
