<!--<ul class="list-unstyled">
    <li>
        <button class="btn btn-primary" type="button"
                [disabled]="companyBoardStatus.identifyThreatAgentsStatus !== statusEnum.EMPTY"
                (click)="loadThreatAgentsDemo()">
            Load Threat Agents Demo
        </button>
    </li>
    <li>
        <button class="btn btn-primary" type="button"
                [disabled]="companyBoardStatus.assessVulnerablitiesStatus !== statusEnum.EMPTY"
                (click)="loadVulnerabilitiesDemo()">
            Load Vulnerabilities Demo
        </button>
    </li>
    <li>
        <button class="btn btn-primary" type="button"
                [disabled]="assessments && assessments.length"
                (click)="loadServiceDemo()">
            Load Service Demo
        </button>
    </li>
    <li>
        <button class="btn btn-primary" type="button"
                [disabled]="dataOperations && dataOperations.length"
                (click)="loadGDPR()">
            Load GDPR Demo
        </button>
    </li>
</ul>-->
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card">
            <h5 class="card-header">Demo</h5>
            <div class="card-body">
                <h5 class="card-title">RATING demo</h5>
                <p class="card-text">In this section it is possible to have a look at the features provided by this Risk
                    Assessment tool.</p>
                <div class="text-center">
                    <button class="btn btn-primary" (click)="loadDemo()">Load demo</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
