<div class="container" *ngIf="loading">
  <div class="loader"></div>
</div>
<div class="container" *ngIf="!loading">
  <div class="tile-stats tiles-first-row">
    <div class="count" *ngIf="selfAssessment.threatagents.length>0">{{selfAssessment.threatagents.length}}</div>
    <h3 *ngIf="selfAssessment.threatagents.length>0"><a [routerLink]="['/identify-threat-agent/result']">Threat Agents</a></h3><!--/identify-threat-agent/result-->
    <h3 *ngIf="selfAssessment.threatagents.length===0"><a [routerLink]="['/identify-threat-agent/questionnaires/ID_THREAT_AGENT/questionnaire']">No Threat Agents founded</a></h3>
    <p *ngIf="selfAssessment.threatagents.length>0"><a href="javascript:void(0)" (click)="open(threatAgentsDetails)">details</a></p>
  </div>
</div>

<ng-template #threatAgentsDetails let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Threat Agents</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-responsive table-hover">
      <table class="table table-bordered" *ngIf="motivations, threatAgentsPercentageArray">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="text-center align-middle">Threat Agent</th>
            <th scope="col" class="text-center align-middle"> Skills</th>
            <th scope="col" class="text-center align-middle">Level of Interest</th>
          </tr>
        </thead>

        <tbody>
          <!--For rows-->
          <ng-container *ngFor="let couple of threatAgentsPercentageArray">
            <tr (click)="selectThreatAgent(couple.key)" style="cursor: pointer">
              <!--For cols-->
              <th scope="row" class="text-center align-middle">
                {{couple.key.name}}
              </th>
              <td class="text-center align-middle">
                {{couple.key.skillLevel | titlecase}}
              </td>
              <td class="text-center align-middle">
                {{couple.value.toPercentage()/100 | percent:'1.0-2'}}
              </td>
            </tr>
            <tr *ngIf="selectedThreatAgent?.id === couple.key.id">
              <td colspan="3">
                <table>
                  <thead>
              <th scope="col" class="text-center align-middle">Property</th>
              <th scope="col" class="text-center align-middle">Value</th>
              </thead>
        <tbody>
          <tr>
            <td>Description</td>
            <td>
              <p>{{selectedThreatAgent.description}}</p>
            </td>
          </tr>
          <tr>
            <td>Access</td>
            <td>
              <p>{{selectedThreatAgent.access}}</p>
            </td>
          </tr>
          <tr>
            <td>Intent</td>
            <td>
              <p>{{selectedThreatAgent.intent}}</p>
            </td>
          </tr>
          <tr *ngIf="selectedThreatAgent.motivations">
            <td>Motivations</td>
            <td>
              <ng-container *ngFor="let motivation of selectedThreatAgent.motivations, let last=last">
                <a [routerLink]="['/motivation-mgm', motivation.id]">{{motivation
                  .name}}</a>
                <ng-container *ngIf="!last">,&nbsp;
                </ng-container>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
      </td>
      </tr>
      </ng-container>

      </tbody>
      </table>
    </div>
  </div>
</ng-template>