<div>
    <router-outlet name="navbar"></router-outlet>
</div>
<div>
    <router-outlet name="sidebar"></router-outlet>
</div>

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <h4 class="page-title float-left">Welcome</h4>

                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item"><a href="#">Abstack</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item active">Welcome</li>
                        </ol>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">
                        <router-outlet></router-outlet>
                        <router-outlet name="popup"></router-outlet>

                    </div>
                </div>

            </div>


        </div>
        <!-- container -->

    </div>
    <!-- content -->

    <jhi-footer></jhi-footer>

</div>


