<div>
    <jhi-navbar></jhi-navbar>
</div>

<jhi-sidebar></jhi-sidebar>

<div *ngIf="isAuthenticated  && !loading" [ngClass]="{'content-page-sidenav': !updateLayout.isSidebarCollapsed, 'content-page-no-sidenav': updateLayout.isSidebarCollapsed}">
    <!-- [ngClass]="{'content-page-sidenav': !updateLayout.isSidebarCollapsed, 'content-page-no-sidenav': updateLayout.isSidebarCollapsed}" -->
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <!--BREADCUM RESERVED WHEN AVAILABLE-->
            <!--
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <h4 class="page-title float-left">Rating</h4>
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item active">Welcome</li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            -->
            <div class="row">
                <div class="col-md-12">
                    <router-outlet></router-outlet>
                    <router-outlet name="popup"></router-outlet>
                </div>
            </div>
        </div>
    </div>
    <jhi-footer></jhi-footer>
</div>
</div>
<div class="bg-login-pages" *ngIf="!isAuthenticated && !loading">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="wrapper-page">
                    <div class="account-pages">
                        <div class="account-box">
                            <div class="account-logo-box">
                                <h2 class="text-uppercase text-center">
                                    <a href="index.html" class="text-success">
                                        <span><img src="../../../content/assets/images/logo-login-rating.png" alt="Rating"></span>
                                    </a>
                                </h2>
                            </div>
                            <ngb-tabset>
                                <ngb-tab>
                                    <ng-template ngbTabTitle><b>Login</b> </ng-template>
                                    <ng-template ngbTabContent>
                                        <jhi-login-plain></jhi-login-plain>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab>
                                    <ng-template ngbTabTitle><b>Registrer</b> </ng-template>
                                    <ng-template ngbTabContent>
                                        <jhi-register></jhi-register>
                                    </ng-template>
                                </ngb-tab>

                            </ngb-tabset>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
