<div>
    <h2>
        <span jhiTranslate="hermeneutApp.gDPRAnswer.home.title">GDPR Answers</span>
        <button class="btn btn-primary float-right jh-create-entity create-gdpr-answer-mgm" [routerLink]="['/', { outlets: { popup: ['gdpr-answer-mgm-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="hermeneutApp.gDPRAnswer.home.createLabel">
            Create new GDPR Answer
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="gDPRAnswers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="hermeneutApp.gDPRAnswer.text">Text</span></th>
            <th><span jhiTranslate="hermeneutApp.gDPRAnswer.answerValue">Answer Value</span></th>
            <th><span jhiTranslate="hermeneutApp.gDPRAnswer.order">Order</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let gDPRAnswer of gDPRAnswers ;trackBy: trackId">
                <td><a [routerLink]="['../gdpr-answer-mgm', gDPRAnswer.id ]">{{gDPRAnswer.id}}</a></td>
                <td>{{gDPRAnswer.text}}</td>
                <td jhiTranslate="{{'hermeneutApp.AnswerValue.' + gDPRAnswer.answerValue}}">{{gDPRAnswer.answerValue}}</td>
                <td>{{gDPRAnswer.order}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../gdpr-answer-mgm', gDPRAnswer.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'gdpr-answer-mgm/'+ gDPRAnswer.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'gdpr-answer-mgm/'+ gDPRAnswer.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
