<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myGDPRAnswerLabel" jhiTranslate="hermeneutApp.gDPRAnswer.home.createOrEditLabel">Create or edit a GDPR Answer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!gDPRAnswer.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="gDPRAnswer.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.gDPRAnswer.text" for="field_text">Text</label>
            <input type="text" class="form-control" name="text" id="field_text"
                [(ngModel)]="gDPRAnswer.text" required/>
            <div [hidden]="!(editForm.controls.text?.dirty && editForm.controls.text?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.text?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.gDPRAnswer.language" for="field_language">Language</label>
            <select class="form-control" name="language" [(ngModel)]="gDPRAnswer.language" id="field_language"  required>
                <option value="IT">{{'hermeneutApp.Language.IT' | translate}}</option>
                <option value="EN">{{'hermeneutApp.Language.EN' | translate}}</option>
                <option value="DE">{{'hermeneutApp.Language.DE' | translate}}</option>
                <option value="ES">{{'hermeneutApp.Language.ES' | translate}}</option>
                <option value="FR">{{'hermeneutApp.Language.FR' | translate}}</option>
                <option value="PT_PT">{{'hermeneutApp.Language.PT_PT' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.language?.dirty && editForm.controls.language?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.language?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.gDPRAnswer.answerValue" for="field_answerValue">Answer Value</label>
            <select class="form-control" name="answerValue" [(ngModel)]="gDPRAnswer.answerValue" id="field_answerValue" >
                <option value="YES">{{'hermeneutApp.AnswerValue.YES' | translate}}</option>
                <option value="NO">{{'hermeneutApp.AnswerValue.NO' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.gDPRAnswer.dataImpact" for="field_dataImpact">Data Impact</label>
            <select class="form-control" name="dataImpact" [(ngModel)]="gDPRAnswer.dataImpact" id="field_dataImpact" >
                <option value="LOW">{{'hermeneutApp.DataImpact.LOW' | translate}}</option>
                <option value="MEDIUM">{{'hermeneutApp.DataImpact.MEDIUM' | translate}}</option>
                <option value="HIGH">{{'hermeneutApp.DataImpact.HIGH' | translate}}</option>
                <option value="VERY_HIGH">{{'hermeneutApp.DataImpact.VERY_HIGH' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.gDPRAnswer.order" for="field_order">Order</label>
            <input type="number" class="form-control" name="order" id="field_order"
                [(ngModel)]="gDPRAnswer.order" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
