@import "../dashboard.module.css";

.low-level{
    background: #2ecc71;
    width: 100%;
    margin-bottom: 2px;
}
.medium-level{
    background: #f39c12;
    width: 100%;
    margin-bottom: 2px;
}
.high-level{
    background: #c0392b;
    width: 100%;
    margin-bottom: 2px;
}
.boston-square-text{
    color: black;
}