
<div *ngIf="indirectAsset">
    <h2><span jhiTranslate="hermeneutApp.indirectAsset.detail.title">Indirect Asset</span> {{indirectAsset.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="hermeneutApp.indirectAsset.directAsset">Direct Asset</span></dt>
        <dd>
            <div *ngIf="indirectAsset.directAsset">
                <a [routerLink]="['/direct-asset-mgm', indirectAsset.directAsset?.id]">{{indirectAsset.directAsset?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="hermeneutApp.indirectAsset.myAsset">My Asset</span></dt>
        <dd>
            <div *ngIf="indirectAsset.myAsset">
                <a [routerLink]="['/my-asset-mgm', indirectAsset.myAsset?.id]">{{indirectAsset.myAsset?.asset?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'indirect-asset-mgm/'+ indirectAsset.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
