<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{question.name}}</h5>
        <ng-container class="card-text" *ngIf="question.answers && renderType && allAssets">
            <ng-container [ngSwitch]="renderType">
                <ng-container *ngSwitchCase="'select_rank'">
                    <b style="clear: both">Intangible Assets </b>
                    <br>
                    <ul class="list-unstyled" *ngIf="intangible">
                        <li *ngFor="let ans of intangible">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="chipsContainer">
                                        <div class="badge chips" [ngClass]="{'badge-light': !isSelected(ans), 'badge-primary': isSelected(ans)}" (click)="select(ans)">
                                            {{ans.name}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                    <ng-container *ngFor="let rank of [1,2,3,4,5,6,7]">
                                        <div class="col-md-1 chipsContainer">
                                            <div *ngIf="!isSelectable(ans)" class="badge chips badge-secondary disabled" (click)="false">
                                                {{rank}}
                                            </div>
                                            <div *ngIf="isSelectable(ans)" class="badge chips" [ngClass]="{'badge-light': !whichRank(ans, rank), 'badge-primary': whichRank(ans, rank)}" (click)="setRank(ans, rank)">
                                                {{rank}}
                                            </div>
                                        </div>
                                    </ng-container>
                                    </div>
                                </div>
                            </div>    
                        </li>
                    </ul>
                    <b>Tangible Assets: </b><i style="clear: both">Current assets</i>
                    <br>
                    <ul class="list-unstyled" *ngIf="tangibleCurrent">
                        <li *ngFor="let ans of tangibleCurrent">
                            <div class="chipsContainer">
                                <div class="badge chips" [ngClass]="{'badge-light': !isSelected(ans), 'badge-primary': isSelected(ans)}" (click)="select(ans)">
                                    {{ans.name}}
                                </div>
                            </div>
                        </li>
                    </ul>
                    <b>Tangible Assets: </b>
                    <i style="clear: both">Fixed assets</i>
                    <br>
                    <ul class="list-unstyled" *ngIf="tangibleFixed">
                        <li *ngFor="let ans of tangibleFixed">
                            <div class="chipsContainer">
                                <div class="badge chips" [ngClass]="{'badge-light': !isSelected(ans), 'badge-primary': isSelected(ans)}" (click)="select(ans)">
                                    {{ans.name}}
                                </div>
                            </div>
                        </li>
                    </ul>
                </ng-container>
                <ng-container *ngSwitchCase="'select_direct_assets'">
                    <ul class="list-inline" *ngIf="question.answers && allAssets">
                        <li class="list-inline-item" *ngFor="let ans of question.answers">
                            <div class="chipsContainer">
                                <div *ngIf="!isSelectable(ans)" class="badge chips badge-secondary disabled" (click)="false">
                                    {{ans.name}}
                                </div>
                                <div *ngIf="isSelectable(ans)" class="badge chips" [ngClass]="{'badge-light': !isSelected(ans), 'badge-primary': isSelected(ans)}" (click)="setDirect(ans)">
                                    {{ans.name}}
                                </div>
                            </div>
                        </li>
                    </ul>
                </ng-container>
                <ng-container *ngSwitchCase="'select_indirect_assets'">
                    <!-- For …………………………….. Please select one or more assets from the following list:  -->
                    <ul class="list-inline" *ngIf="question.answers">
                            <li class="list-inline-item" *ngFor="let ans of question.answers">
                                <div class="chipsContainer">
                                    <div class="badge chips" [ngClass]="{'badge-secondary': !isSelected(ans), 'badge-primary': isSelected(ans)}" (click)="select(ans)">
                                        {{ans.name}}
                                    </div>
                                </div>
                            </li>
                        </ul>
                </ng-container>
                <ng-container *ngSwitchCase="'estimated_assets'">
                    <ul class="list-inline" *ngIf="question.answers">
                        <li class="list-inline-item" *ngFor="let ans of question.answers">
                            <div class="chipsContainer">
                                <div class="badge chips" [ngClass]="{'badge-secondary': !isSelected(ans), 'badge-primary': isSelected(ans)}" (click)="select(ans)">
                                    {{ans.name}}
                                </div>
                            </div>
                        </li>
                    </ul>
                </ng-container>
                <ng-container *ngSwitchCase="'insert_magnitude'">
                    insert magnitude for each estimated
                </ng-container>
                <ng-container *ngSwitchCase="'idetify_costs'">
                    <!-- For the …..…………………………………………………….. asset identified, please select from the following list: -->
                    <ul class="list-inline" *ngIf="question.answers">
                        <li class="list-inline-item" *ngFor="let ans of question.answers">
                            <div class="chipsContainer">
                                <div class="badge chips" [ngClass]="{'badge-secondary': !isSelected(ans), 'badge-primary': isSelected(ans)}" (click)="select(ans)">
                                    {{ans.name}}
                                </div>
                            </div>
                        </li>
                    </ul>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
</div>