<div class="container" *ngIf="loading">
    <div class="loader"></div>
  </div>
  <div class="container" *ngIf="!loading">
    <div class="x_panel" style="padding:0px !important;">
      <div class="x_title" style="padding:0px !important;">
        <h2 style="padding: 10px;">Most Dangerous Threat Agents</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <a class="collapse-link" (click)="isCollapsed = !isCollapsed"><i class="fa fa-chevron-up"></i></a>
          </li>
          <!--
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Export</a>
                    </li>
                  </ul>
                </li>
                -->
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="table-responsive x_content" style="padding:0px !important;" [ngbCollapse]="isCollapsed">
          <div *ngIf="mdtaEntities" class="table-responsive table-hover-no-pointer">
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th>Title</th>
                          <th>Initial Likelihood</th>
                          <th>Contextual Likelihood</th>
                          <th>Refined Likelihood</th>
                      </tr>
                  </thead>
                  <tbody>
                      <ng-container *ngFor="let item of mdtaEntities | paginate: threatAgentsPaginator">
                          <tr>
                              <td>{{item.threatAgent}}</td>
                              <td *ngIf="item.initial">{{item.initial | number : '1.1-1'}}</td>
                              <td *ngIf="!item.initial">-</td>
                              <td *ngIf="item.contextual">{{item.contextual | number : '1.1-1'}}</td>
                              <td *ngIf="!item.contextual">-</td>
                              <td *ngIf="item.refined">{{item.refined | number : '1.1-1'}}</td>
                              <td *ngIf="!item.refined">-</td>
                          </tr>
                      </ng-container>
                  </tbody>
                </table>
                <div class="text-center">
                    <pagination-controls (pageChange)="onThreatAgentsPageChange($event)" [id]="threatAgentsPaginator.id"></pagination-controls>
                </div>
          </div>
      </div>
    </div>
  </div>
