<div class="card">
    <div class="card-body">
        <h5 class="card-title">Considering your organization, please select which are the asset or category in your
            possession.</h5>
        <ng-container class="card-text" *ngIf="categoryToAssets.size > 0">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th style="width: 45%">Asset Category</th>
                        <th>Asset in category</th>
                        <th>Selection</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of categoryToAssets.values(); let i=index">
                        <tr>
                            <th scope="row"><a href="javascript:void(0)" (click)="selectCategory(categories[i])">{{categories[i].name}}</a></th>
                            <td placement="top" container="body" ngbTooltip="Click on Category name for more details">{{item.length}}</td>
                            <td *ngIf="!isSelect(undefined, categories[i].id) && howManyAssetInSelection(categories[i].id)===0"><a
                                    href="javascript:void(0)" (click)="select(undefined, categories[i].id)"><i class="fa fa-square-o fa-lg"
                                        aria-hidden="true"></i></a></td>
                            <td *ngIf="!isSelect(undefined, categories[i].id) && howManyAssetInSelection(categories[i].id)!==0"><a
                                    href="javascript:void(0)" (click)="select(undefined, categories[i].id)"><i class="fa fa-minus-square-o fa-lg"
                                        aria-hidden="true"></i></a></td>
                            <td *ngIf="isSelect(undefined, categories[i].id) && howManyAssetInSelection(categories[i].id)===item.length"><a
                                    href="javascript:void(0)" (click)="select(undefined, categories[i].id)"><i class="fa fa-check-square-o fa-lg"
                                        aria-hidden="true"></i></a></td>
                        </tr>
                        <ng-container *ngIf="selectedCategory">
                            <tr *ngIf="selectedCategory.id === categories[i].id">
                                <td colspan="3">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>Asset</th>
                                                <th>Selection</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let asset of item">
                                                <td>{{asset.name}}</td>
                                                <td *ngIf="!isSelect(asset.id, undefined)"><a href="javascript:void(0)"
                                                        (click)="select(asset.id, undefined)"><i class="fa fa-square-o fa-lg"
                                                            aria-hidden="true"></i></a></td>
                                                <td *ngIf="isSelect(asset.id, undefined)"><a href="javascript:void(0)"
                                                        (click)="select(asset.id, undefined)"><i class="fa fa-check-square-o fa-lg"
                                                            aria-hidden="true"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>
        </ng-container>
        <div class="button-box">
            <button *ngIf="myAssets && updateMyAssets" class="btn btn-success btn-lg btn-block" (click)="saveMyAsset()"><i
                    class="fas fa-save"></i>
                Submit</button>
            <button *ngIf="!myAssets || !updateMyAssets" class="btn btn-secondary btn-lg btn-block"><i class="fas fa-save"></i>
                Submit</button>
            <!--ADD NEXT PREV-->
        </div>
    </div>
</div>