<h1>Questionnaires</h1>

<table class="table table-responsive">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Purpose</th>
        <th>Created</th>
        <th>Modified</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let questionnaire of questionnaires$ | async">
        <th scope="row">{{questionnaire.id}}</th>
        <td>{{questionnaire.name}}</td>
        <td>{{questionnaire.purpose}}</td>
        <td>{{questionnaire.created}}</td>
        <td>{{questionnaire.modified}}</td>
        <td>
            <button type="button" class="btn btn-success" (click)="setCurrentQuestionnaire(questionnaire)"
                    [routerLink]="['./questionnaire']">
                <span class="fa fa-edit"></span>
                <span class="d-none d-md-inline">Answer</span>
            </button>
        </td>
    </tr>

    </tbody>
</table>
