<div class="row">

    <div class="col-lg-9 col-md-12">
        <div class="card-box">
            <div class="form-search-table">

                <form name="searchForm"role="search" class="">
                    <div class="input-group w-100">
                        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'hermeneutApp.myAsset.home.search' | translate }}">
                        <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                            <span class="fa fa-search"></span>
                        </button>
                        <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                            <span class="fa fa-trash-o"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-12">
        <div class="card-box">
            <button class="btn btn-block btn-primary waves-effect waves-light btn-info jh-create-entity create-my-asset-mgm" [routerLink]="['/', { outlets: { popup: ['my-asset-mgm-new'] } }]">
                <i class="fas fa-plus"></i>
                <span class="hidden-sm-down" jhiTranslate="hermeneutApp.myAsset.home.createLabel">
            Create new My Asset
            </span>
            </button>
        </div>
    </div>

</div>
<div class="card-box">
    <h2>
        <span jhiTranslate="hermeneutApp.myAsset.home.title">My Assets</span>
        <!-- <button class="btn btn-primary float-right jh-create-entity create-my-asset-mgm" [routerLink]="['/', { outlets: { popup: ['my-asset-mgm-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="hermeneutApp.myAsset.home.createLabel">
            Create new My Asset
            </span>
        </button> -->
    </h2>
    <jhi-alert></jhi-alert>
   <!-- <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'hermeneutApp.myAsset.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/> -->
    <div class="table-responsive" *ngIf="myAssets">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="hermeneutApp.myAsset.magnitude">Magnitude</span></th>
            <th><span jhiTranslate="hermeneutApp.myAsset.ranking">Ranking</span></th>
            <th><span jhiTranslate="hermeneutApp.myAsset.estimated">Estimated</span></th>
            <th><span jhiTranslate="hermeneutApp.myAsset.economicValue">Economic Value</span></th>
            <th><span jhiTranslate="hermeneutApp.myAsset.asset">Asset</span></th>
            <th><span jhiTranslate="hermeneutApp.myAsset.selfAssessment">Self Assessment</span></th>
            <th><span jhiTranslate="hermeneutApp.myAsset.questionnaire">Questionnaire</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let myAsset of myAssets ;trackBy: trackId">
                <td><a [routerLink]="['../my-asset-mgm', myAsset.id ]">{{myAsset.id}}</a></td>
                <td>{{myAsset.magnitude}}</td>
                <td>{{myAsset.ranking}}</td>
                <td>{{myAsset.estimated}}</td>
                <td>{{myAsset.economicValue}}</td>
                <td>
                    <div *ngIf="myAsset.asset">
                        <a [routerLink]="['../asset-mgm', myAsset.asset?.id ]" >{{myAsset.asset?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="myAsset.selfAssessment">
                        <a [routerLink]="['../self-assessment-mgm', myAsset.selfAssessment?.id ]" >{{myAsset.selfAssessment?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="myAsset.questionnaire">
                        <a [routerLink]="['../questionnaire-mgm', myAsset.questionnaire?.id ]" >{{myAsset.questionnaire?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../my-asset-mgm', myAsset.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'my-asset-mgm/'+ myAsset.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'my-asset-mgm/'+ myAsset.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
