
<div *ngIf="assetCategory">
    <h2><span jhiTranslate="hermeneutApp.assetCategory.detail.title">Asset Category</span> {{assetCategory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="hermeneutApp.assetCategory.name">Name</span></dt>
        <dd>
            <span>{{assetCategory.name}}</span>
        </dd>
        <dt><span jhiTranslate="hermeneutApp.assetCategory.description">Description</span></dt>
        <dd>
            <span>{{assetCategory.description}}</span>
        </dd>
        <dt><span jhiTranslate="hermeneutApp.assetCategory.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'hermeneutApp.AssetType.' + assetCategory.type}}">{{assetCategory.type}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button *jhiHasAnyAuthority="'ROLE_ADMIN'"
            type="button"
            (click)="popUpService.setOnUserBehaviour()"
            [routerLink]="['/', { outlets: { popup: 'asset-category-mgm/'+ assetCategory.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
