<div *ngIf="questionnaire && dataOperation" [ngSwitch]="questionnaire.purpose" style="margin-bottom: 10%">
    <div *ngSwitchCase="purposeEnum.OPERATION_CONTEXT">
        <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitOperationContext()">
            <div *ngFor="let question of questions; trackBy: trackByID"
                 [ngSwitch]="question.dataOperationField" class="card-box">
                <mat-expansion-panel [hideToggle]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <label class="form-control-label" [attr.for]="question?.id">
                                <h5 class="h3-dynamic-form"> {{question?.text}}</h5>
                            </label>
                        </mat-panel-title>
                        <mat-panel-description>
                            <mat-icon>info</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <p *ngIf="question.description">
                        {{question.description}}
                    </p>
                    <p *ngIf="!question.description">
                        Waiting for description...
                    </p>
                </mat-expansion-panel>

                <!--Name-->
                <mat-form-field *ngSwitchCase="dataOperationFieldEnum.NAME">
                    <input matInput
                           *ngSwitchCase="dataOperationFieldEnum.NAME"
                           [formControlName]="dataOperationFieldEnum.NAME"
                           [(ngModel)]="dataOperation.name"
                           [placeholder]="question.description"
                           type="text"
                           required
                    />
                </mat-form-field>

                <!--Processed Data-->
                <mat-form-field *ngSwitchCase="dataOperationFieldEnum.PROCESSED_DATA">
                    <input matInput
                           *ngSwitchCase="dataOperationFieldEnum.PROCESSED_DATA"
                           [formControlName]="dataOperationFieldEnum.PROCESSED_DATA"
                           [(ngModel)]="dataOperation.processedData"
                           [placeholder]="question.description" type="text"
                           required
                    />
                </mat-form-field>

                <!--Processing Purpose-->
                <mat-form-field *ngSwitchCase="dataOperationFieldEnum.PROCESSING_PURPOSE">
                    <input matInput
                           *ngSwitchCase="dataOperationFieldEnum.PROCESSING_PURPOSE"
                           [formControlName]="dataOperationFieldEnum.PROCESSING_PURPOSE"
                           [(ngModel)]="dataOperation.processingPurpose"
                           [placeholder]="question.description" type="text"
                           required
                    />
                </mat-form-field>

                <!--Processing Means-->
                <mat-form-field *ngSwitchCase="dataOperationFieldEnum.PROCESSING_MEANS">
                    <input matInput
                           *ngSwitchCase="dataOperationFieldEnum.PROCESSING_MEANS"
                           [formControlName]="dataOperationFieldEnum.PROCESSING_MEANS"
                           [(ngModel)]="dataOperation.processingMeans"
                           [placeholder]="question.description" type="text"
                           required
                    />
                </mat-form-field>

                <!--Data Processor-->
                <mat-form-field *ngSwitchCase="dataOperationFieldEnum.DATA_PROCESSOR">
                    <input matInput
                           *ngSwitchCase="dataOperationFieldEnum.DATA_PROCESSOR"
                           [formControlName]="dataOperationFieldEnum.DATA_PROCESSOR"
                           [(ngModel)]="dataOperation.dataProcessor"
                           [placeholder]="question.description" type="text"
                           required
                    />
                </mat-form-field>

                <!--Data Subject-->
                <mat-form-field *ngSwitchCase="dataOperationFieldEnum.DATA_SUBJECT">
                    <input matInput
                           *ngSwitchCase="dataOperationFieldEnum.DATA_SUBJECT"
                           [formControlName]="dataOperationFieldEnum.DATA_SUBJECT"
                           [(ngModel)]="dataOperation.dataSubject"
                           [placeholder]="question.description" type="text"
                           required
                    />
                </mat-form-field>

                <!--Data Recipients-->
                <mat-card *ngSwitchCase="dataOperationFieldEnum.DATA_RECIPIENTS"
                          [formArrayName]="dataOperationFieldEnum.DATA_RECIPIENTS">
                    <div class="row">
                        <div class="col-md-11">
                            <mat-card-title>Recipients</mat-card-title>
                        </div>
                        <div class="col-md-1 middle">
                            <button (click)="addRecipient()" class="btn btn-primary" type="button">
                                <span class="fa fa-plus">&nbsp;Add</span>
                            </button>
                        </div>
                    </div>

                    <mat-divider></mat-divider>

                    <!--Loop throught recipients-->
                    <div
                        *ngFor="let recipient of dataOperation.recipients; let i = index; let first = first; let last = last">
                        <!--Each recipient has its own FormGroup, with the name corresponding to the index.-->
                        <div [formGroupName]="i">
                            <div class="row">
                                <div class="col-md-9">
                                    <!--Name-->
                                    <label class="form-control-label">
                                        <h6 class="h3-dynamic-form">Title</h6>
                                    </label>
                                    <mat-form-field>
                                        <input matInput
                                               [formControlName]="'name'" [(ngModel)]="recipient.name"
                                               type="text" required
                                        />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <!--Type-->
                                    <label class="form-control-label">
                                        <h6 class="h3-dynamic-form">Type</h6>
                                    </label>
                                    <mat-form-field>
                                        <mat-select [formControlName]="'type'" [(ngModel)]="recipient.type">
                                            <mat-option *ngFor="let type of dataRecipientTypes" [value]="type">{{type}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-1 middle">
                                    <button type="button" class="btn btn-danger" (click)="removeRecipient(i)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <mat-divider *ngIf="!last"></mat-divider>
                    </div>
                </mat-card>
            </div>
            <div class="row">
                <div class="col-md-6 text-left">
                    <button class="btn btn-info waves-light waves-effect w-md" type="button"
                            (click)="back()">
                        <i class="fa fa-remove"></i>&nbsp;<span>Cancel</span>
                    </button>
                </div>
                <div class="col-md-6 text-right">
                    <button class="btn btn-success waves-light waves-effect w-md" type="submit"
                            [disabled]="!form.valid">
                        <i class="far fa-save"></i>&nbsp;<span>Save</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div *ngSwitchCase="purposeEnum.IMPACT_EVALUATION">
        <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitSecurityImpacts()">
            <div *ngFor="let question of questions; trackBy: trackByID"
                 [ngSwitch]="question.dataOperationField" class="card-box row">

                <div class="col-md-10">
                    <label class="form-control-label">
                        <h5 class="h3-dynamic-form">{{question?.text}}</h5>
                    </label>
                </div>
                <div class="col-md-2">
                    <mat-radio-group class="radio-group"
                                     [formControlName]="question.securityPillar"
                                     [(ngModel)]="securityImpactsMap.get(question.securityPillar).impact">
                        <mat-radio-button *ngFor="let answer of question.answers"
                                          class="radio-button"
                                          [value]="answer.dataImpact">
                            {{answer.text}}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-left">
                    <button class="btn btn-info waves-light waves-effect w-md" type="button"
                            (click)="back()">
                        <i class="fa fa-remove"></i>&nbsp;<span>Cancel</span>
                    </button>
                </div>
                <div class="col-md-6 text-right">
                    <button class="btn btn-success waves-light waves-effect w-md" type="submit"
                            [disabled]="!form.valid">
                        <i class="far fa-save"></i>&nbsp;<span>Save</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div *ngSwitchCase="purposeEnum.THREAT_LIKELIHOOD">
        <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitThreatLikelihood()">
            <mat-tab-group>
                <mat-tab *ngFor="let area of threatAreas" [ngSwitch]="area"
                         label="{{area | replace:'_':' ' | titlecase}}">
                    <div *ngSwitchCase="threatAreaEnum.NETWORK_AND_TECHNICAL_RESOURCES">
                        <div *ngFor="let question of questionsByThreatAreaMap.get(area); trackBy: trackByID"
                             [ngSwitch]="question.dataOperationField" class="card-box row">

                            <div class="col-md-11">
                                <label class="form-control-label">
                                    <h5 class="h3-dynamic-form">{{question?.text}}</h5>
                                </label>
                            </div>
                            <div class="col-md-1">
                                <mat-radio-group class="radio-group"
                                                 [formControlName]="question.id"
                                >
                                    <mat-radio-button *ngFor="let answer of question.answers"
                                                      class="radio-button"
                                                      [value]="answer.answerValue">
                                        {{answer.text}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="threatAreaEnum.PROCEDURES_RELATED_TO_THE_PROCESSING_OF_PERSONAL_DATA">
                        <div *ngFor="let question of questionsByThreatAreaMap.get(area); trackBy: trackByID"
                             [ngSwitch]="question.dataOperationField" class="card-box row">

                            <div class="col-md-11">
                                <label class="form-control-label">
                                    <h5 class="h3-dynamic-form">{{question?.text}}</h5>
                                </label>
                            </div>
                            <div class="col-md-1">
                                <mat-radio-group class="radio-group"
                                                 [formControlName]="question.id"
                                >
                                    <mat-radio-button *ngFor="let answer of question.answers"
                                                      class="radio-button"
                                                      [value]="answer.answerValue">
                                        {{answer.text}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="threatAreaEnum.PEOPLE_INVOLVED_IN_THE_PROCESSING_OF_PERSONAL_DATA">
                        <div *ngFor="let question of questionsByThreatAreaMap.get(area); trackBy: trackByID"
                             [ngSwitch]="question.dataOperationField" class="card-box row">

                            <div class="col-md-11">
                                <label class="form-control-label">
                                    <h5 class="h3-dynamic-form">{{question?.text}}</h5>
                                </label>
                            </div>
                            <div class="col-md-1">
                                <mat-radio-group class="radio-group"
                                                 [formControlName]="question.id"
                                >
                                    <mat-radio-button *ngFor="let answer of question.answers"
                                                      class="radio-button"
                                                      [value]="answer.answerValue">
                                        {{answer.text}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="threatAreaEnum.BUSINESS_SECTOR_AND_SCALE_OF_PROCESSING">
                        <div *ngFor="let question of questionsByThreatAreaMap.get(area); trackBy: trackByID"
                             [ngSwitch]="question.dataOperationField" class="card-box row">

                            <div class="col-md-11">
                                <label class="form-control-label">
                                    <h5 class="h3-dynamic-form">{{question?.text}}</h5>
                                </label>
                            </div>
                            <div class="col-md-1">
                                <mat-radio-group class="radio-group"
                                                 [formControlName]="question.id"
                                >
                                    <mat-radio-button *ngFor="let answer of question.answers"
                                                      class="radio-button"
                                                      [value]="answer.answerValue">
                                        {{answer.text}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </form>
    </div>
</div>
