<div class="card">
    <div class="card-body">
        <a href="javascript:void(0)" (click)="isDescriptionCollapsed = !isDescriptionCollapsed" [attr.aria-expanded]="!isDescriptionCollapsed"
            aria-controls="descriptionCollapsible" class="float-right">
            <i class="fa fa-question-circle fa-lg" aria-hidden="true"></i>
        </a>
        <h5 class="card-title">Cascade Effects.</h5>
        <i [ngbCollapse]="isDescriptionCollapsed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at neque
            malesuada, placerat ipsum eu, molestie urna. Integer sollicitudin sollicitudin diam, sit amet sagittis enim
            laoreet eget. Aenean pulvinar maximus ex sit amet tempus. Suspendisse vehicula arcu ante, non facilisis
            magna dictum ut.<br></i>
        <ng-container class="card-text" *ngIf="!myAssets">
            <div class="loader"></div>
        </ng-container>
        <ng-container class="card-text" *ngIf="myAssets">
            <div class="col-md-3">
                <div class="list-group">
                    <ng-container *ngFor="let myAsset of myAssets">
                        <a href="javascript:void(0)" (click)="updateMyAsset(false);selectAsset(myAsset)" class="list-group-item list-group-item-action"
                            [ngClass]="{'active': selectedAsset && myAsset.id === selectedAsset.id}">
                            <i *ngIf="myAssetStatus.get(myAsset.id) === 'COMPLETED'" class="fa fa-check fa-lg"
                                aria-hidden="true" style="color: green"></i>
                            <i *ngIf="loading && myAssetStatus.get(myAsset.id) === 'IN EVALUATION'" class="fa fa-circle-o-notch fa-spin fa-lg fa-fw"></i>
                            <i *ngIf="myAssetStatus.get(myAsset.id) === 'NOT COMPLETED'" class="fa fa-minus"
                                aria-hidden="true" style="color: grey"></i>
                            {{myAsset.asset.name}}</a>
                    </ng-container>
                </div>
            </div>
            <div class="col-md-9">
                <ng-container *ngIf="selectedAsset">
                    <div class="row">
                        <div class="col-md-10">
                            <h5>Considering your organization, the <b>{{selectedAsset.asset.name}}</b> asset can be
                                directly stolen/compromised/damaged during a cyber attack?</h5>
                        </div>
                        <div class="col-md-1">
                            <div class="chipsContainer">
                                <div class="badge chips chips-name" [ngClass]="{'badge-light': !isDirect, 'badge-primary': isDirect}"
                                    (click)="setDirectAsset(selectedAsset, true)">
                                    YES
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="chipsContainer">
                                <div class="badge chips chips-name" [ngClass]="{'badge-light': isDirect, 'badge-primary': !isDirect}"
                                    (click)="setDirectAsset(selectedAsset, false)">
                                    NO
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="isDirect" style="margin-top: 25px">
                        <div class="col-md-12">
                            <h5>Now, please identify which are the other assets that could be indirectly
                                compromised/damaged/devalued by the lost of the currently-selected asset</h5>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <ng-container *ngFor="let myAsset of myAssets; let isOdd=odd">
                                    <ng-container *ngIf="isOdd && myAsset.asset.id !== selectedDirectAsset.myAsset.asset.id">
                                        <div class="row">
                                            <label><input type="checkbox" [checked]="isIndirect(myAsset)" (change)="setIndirectAsset(myAsset)"
                                                    id="{{myAsset.asset.name}}">
                                                {{myAsset.asset.name}}</label>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                            <div class="col-md-6">
                                <ng-container *ngFor="let myAsset of myAssets; let isEven=even">
                                    <ng-container *ngIf="isEven && myAsset.asset.id !== selectedDirectAsset.myAsset.asset.id">
                                        <div class="row">
                                            <label><input type="checkbox" [checked]="isIndirect(myAsset)" (change)="setIndirectAsset(myAsset)"
                                                    id="{{myAsset.asset.name}}">
                                                {{myAsset.asset.name}}</label>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="!selectedAsset">
                    <div class="text-center" style="margin-top: 50px">
                        <p style="color: orange"><i class="fa fa-exclamation-triangle fa-4x" aria-hidden="true"></i></p>
                        <p style="color: grey">Please select one asset from the list at left of the screen!</p>
                    </div>
                </ng-container>
            </div>
            <div class="col-md-12 text-center">
                <div class="col-md-3">
                    <button class="btn btn-primary btn-lg btn-block" [routerLink]="['../asset-clustering']"><i class="fa fa-arrow-left fa-lg"
                            aria-hidden="true"></i>
                        Prev</button>
                </div>
                <div class="col-md-3 offset-md-6">
                    <button class="btn btn-primary btn-lg btn-block" (click)="updateMyAsset(true)">
                        Next
                        <i *ngIf="!loading" class="fa fa-arrow-right fa-lg" aria-hidden="true"></i>
                        <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin fa-lg fa-fw"></i>
                    </button>
                </div>
            </div>
        </ng-container>
    </div>
</div>