
<div class="card-box" *ngIf="mitigation">
    <h2>{{mitigation.name}}</h2>
    <!--<h2><span jhiTranslate="hermeneutApp.mitigation.detail.title">Mitigation</span> {{mitigation.id}}</h2>-->
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <!--
        <dt><span jhiTranslate="hermeneutApp.mitigation.name">Name</span></dt>
        <dd>
            <span>{{mitigation.name}}</span>
        </dd>
        -->
        <dt><span jhiTranslate="hermeneutApp.mitigation.description">Description</span></dt>
        <dd>
            <span>{{mitigation.description}}</span>
        </dd>
        <dt><span jhiTranslate="hermeneutApp.mitigation.created">Created</span></dt>
        <dd>
            <span>{{mitigation.created | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="hermeneutApp.mitigation.modified">Modified</span></dt>
        <dd>
            <span>{{mitigation.modified | date:'medium'}}</span>
        </dd>
    </dl>
    <ng-container *ngIf="isButtonVisible">
        <button type="submit"
                (click)="previousState()"
                class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>

        <button type="button"
                (click)="popUpService.setOnUserBehaviour()"
                [routerLink]="['/', { outlets: { popup: 'mitigation-mgm/'+ mitigation.id + '/edit'} }]"
                replaceUrl="true"
                queryParamsHandling="merge"
                class="btn btn-primary">
            <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
        </button>
    </ng-container>
</div>
