<div class="container" *ngIf="loading">
  <div class="loader"></div>
</div>
<div class="container" *ngIf="!loading">
  <div class="tile-stats tiles-first-row">
    <div class="count" *ngIf="customers>0">{{customers}}</div>
    <ng-container *ngIf="customers>0">
      <div class="col-md-10">
        <h3>Customers</h3>
      </div>
      <div class="col-md-2"><a [routerLink]="['/impact-evaluation/attack-related-costs-estimation']"><i
            class="fa fa-link fa-lg" aria-hidden="true"></i></a></div>
    </ng-container>
    <h3 *ngIf="customers===0"><a [routerLink]="['/impact-evaluation/attack-related-costs-estimation']">No customers
        defined</a></h3>
  </div>
</div>