<nav *ngIf="isAuthenticated()" class="navbar navbar-custom navbar-expand-md topbar">
    <div class="topbar-left">
        <a href="javascript:void(0)" class="logo" (click)="hideShowSideNav()"> <!--routerLink="/"-->
            <span>
                <img src="../../../content/assets/images/logo-horizontal-white.png" alt="" class="img-fluid">
            </span>
            <i>
                <img src="../../../content/assets/images/logo-horizontal-white-small.png" alt="" class="img-fluid">
            </i>
        </a>
    </div>
    <div *ngIf="navSubTitle" class="nav-self-assessment">
        {{navSubTitle}}
    </div>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed"
         [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <li class="waves-light waves-effect nav-item" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                    <span>
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.home">Home</span>
                    </span>
                </a>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'"
                ngbDropdown class="waves-light waves-effect nav-item dropdown pointer entities-nav "
                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                        <span>
                            <i class="fa fa-th-list" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.main">
                                Entities
                            </span>
                        </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="company-profile-mgm" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.companyProfileMgm">Company Profile Mgm</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="domain-of-influence-mgm" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span
                                jhiTranslate="global.menu.entities.domainOfInfluenceMgm">Domain Of Influence Mgm</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="self-assessment-mgm" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.selfAssessmentMgm">Self Assessment Mgm</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="container-mgm" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.containerMgm">Container Mgm</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="asset-category-mgm" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.assetCategoryMgm">Asset Category Mgm</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="asset-mgm" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.assetMgm">Asset Mgm</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="threat-agent-mgm" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.threatAgentMgm">Threat Agent Mgm</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="motivation-mgm" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.motivationMgm">Motivation Mgm</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="attack-strategy-mgm" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.attackStrategyMgm">Attack Strategy Mgm</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="mitigation-mgm" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.mitigationMgm">Mitigation Mgm</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="questionnaire-mgm" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.questionnaireMgm">Questionnaire Mgm</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="question-mgm" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.questionMgm">Question Mgm</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="answer-mgm" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.answerMgm">Answer Mgm</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="external-audit-mgm" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.externalAuditMgm">External Audit Mgm</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="my-answer-mgm" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.myAnswerMgm">My Answer Mgm</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="answer-weight-mgm" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.answerWeightMgm">Answer Weight Mgm</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="questionnaire-status-mgm" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span
                                jhiTranslate="global.menu.entities.questionnaireStatusMgm">Questionnaire Status Mgm</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="level-mgm" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.levelMgm">Level Mgm</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="phase-mgm" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.phaseMgm">Phase Mgm</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="company-group-mgm" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.companyGroupMgm">Group Mgm</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="my-asset-mgm" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.myAssetMgm">My Asset Mgm</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="direct-asset-mgm" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.directAssetMgm">Direct Asset Mgm</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="indirect-asset-mgm" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.indirectAssetMgm">Indirect Asset Mgm</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="attack-cost-mgm" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.attackCostMgm">Attack Cost Mgm</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="economic-coefficients-mgm" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span
                                jhiTranslate="global.menu.entities.economicCoefficientsMgm">Economic Coefficients Mgm</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="ebit-mgm" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.ebitMgm">Ebit Mgm</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="economic-results-mgm" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.economicResultsMgm">Economic Results Mgm</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="splitting-loss-mgm" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.splittingLossMgm">Splitting Loss Mgm</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="critical-level-mgm" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.criticalLevelMgm">Critical Level Mgm</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="likelihood-scale-mgm" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.likelihoodScaleMgm">Likelihood Scale Mgm</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="vulnerability-scale-mgm" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span
                                jhiTranslate="global.menu.entities.vulnerabilityScaleMgm">Vulnerability Scale Mgm</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="my-company-mgm" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.myCompanyMgm">My Company Mgm</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="impact-level-mgm" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.impactLevelMgm">Impact Level Mgm</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="impact-level-description-mgm" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.impactLevelDescriptionMgm">Impact Level Description Mgm</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                </ul>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown
                class="waves-light waves-effect nav-item dropdown pointer"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                        <span>
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.main">Administration</span>
                        </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="user-management" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="jhi-metrics" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-tachometer" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="jhi-health" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-heart" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.health">Health</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="jhi-configuration" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-list" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="audits" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-bell" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.audits">Audits</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="logs" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-tasks" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.logs">Logs</span>
                        </a>
                    </li>
                    <li *ngIf="swaggerEnabled">
                        <a class="dropdown-item" routerLink="docs" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-book" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.apidocs">API</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="elasticsearch-reindex" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-search" aria-hidden="true"></i>&nbsp;
                            <span
                                jhiTranslate="global.menu.admin.elasticsearch-reindex">Elasticsearch Reindex</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="waves-light waves-effect nav-item dropdown pointer" *ngIf="languages">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);"
                   id="languagesnavBarDropdown" *ngIf="languages.length > 1">
                        <span>
                            <i class="fa fa-flag" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.language">Language</span>
                        </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu *ngIf="languages.length > 1">
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);"
                           (click)="changeLanguage(language);collapseNavbar();">
                            <span ngClass="flag-icon flag-icon-{{language}}"></span>
                            {{language | findLanguageFromKey}}
                        </a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="waves-light waves-effect nav-item dropdown pointer" placement="bottom-right"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                      <span *ngIf="!getImageUrl()">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.account.main">
                          Account
                        </span>
                      </span>
                    <span *ngIf="getImageUrl()">
                          <img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar">
                      </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="settings" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-wrench" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.settings">Settings</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="password" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.password">Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.logout">Sign out</span>
                        </a>
                    </li>
                    <!--<li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <i class="fa fa-fw fa-sign-in" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.login">Sign in</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" routerLink="register" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user-plus" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.register">Register</span>
                        </a>
                    </li>
                    -->
                </ul>
            </li>
        </ul>
    </div>
</nav>
