<h3>
    People Book
</h3>

<nav mat-tab-nav-bar>
    <a mat-tab-link [routerLink]="['ciso']"     routerLinkActive
       #rla1="routerLinkActive"
       [routerLinkActiveOptions]="{exact: true}"
       [active]="rla1.isActive">
        CISO Deputy
    </a>

    <a mat-tab-link [routerLink]="['external']"     routerLinkActive
       #rla2="routerLinkActive"
       [routerLinkActiveOptions]="{exact: true}"
       [active]="rla2.isActive">
        External Auditor
    </a>

    <a mat-tab-link [routerLink]="['financial']"     routerLinkActive
       #rla3="routerLinkActive"
       [routerLinkActiveOptions]="{exact: true}"
       [active]="rla3.isActive">
        Financial Deputy
    </a>
</nav>

<router-outlet></router-outlet>
