<div class="container-fluid" style="margin-bottom: 5%">
    <div class="row mb-2">
        <div class="col-md-12">
            <jhi-privacy-steps-status-widget [dataOperation]="dataOperation"></jhi-privacy-steps-status-widget>
        </div>
    </div>
    <div class="row well">
        <h2>Privacy Posture</h2>
    </div>
    <div class="row mb-2">
        <div class="col-md-12" *ngIf="privacyBoardStatus && privacyBoardStatus.impactEvaluation===statusEnum.FULL">
            <jhi-security-impacts-widget [dataOperation]="dataOperation"></jhi-security-impacts-widget>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-12" *ngIf="privacyBoardStatus && privacyBoardStatus.threatIdentification===statusEnum.FULL">
            <jhi-data-threats-widget [dataOperation]="dataOperation"></jhi-data-threats-widget>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-12" *ngIf="privacyBoardStatus && privacyBoardStatus.riskEvaluation===statusEnum.FULL">
            <jhi-data-risks-widget [dataOperation]="dataOperation"></jhi-data-risks-widget>
        </div>
    </div>
</div>
