<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOverallSecurityImpactLabel" jhiTranslate="hermeneutApp.overallSecurityImpact.home.createOrEditLabel">Create or edit a Overall Security Impact</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!overallSecurityImpact.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="overallSecurityImpact.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.overallSecurityImpact.impact" for="field_impact">Impact</label>
            <select class="form-control" name="impact" [(ngModel)]="overallSecurityImpact.impact" id="field_impact"  required>
                <option value="LOW">{{'hermeneutApp.DataImpact.LOW' | translate}}</option>
                <option value="MEDIUM">{{'hermeneutApp.DataImpact.MEDIUM' | translate}}</option>
                <option value="HIGH">{{'hermeneutApp.DataImpact.HIGH' | translate}}</option>
                <option value="VERY_HIGH">{{'hermeneutApp.DataImpact.VERY_HIGH' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.impact?.dirty && editForm.controls.impact?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.impact?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.overallSecurityImpact.operation" for="field_operation">Operation</label>
            <select class="form-control" id="field_operation" name="operation" [(ngModel)]="overallSecurityImpact.operation">
                <option [ngValue]="null"></option>
                <option [ngValue]="dataOperationOption.id === overallSecurityImpact.operation?.id ? overallSecurityImpact.operation : dataOperationOption" *ngFor="let dataOperationOption of operations; trackBy: trackDataOperationById">{{dataOperationOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
