
<div *ngIf="overallSecurityImpact">
    <h2><span jhiTranslate="hermeneutApp.overallSecurityImpact.detail.title">Overall Security Impact</span> {{overallSecurityImpact.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="hermeneutApp.overallSecurityImpact.impact">Impact</span></dt>
        <dd>
            <span jhiTranslate="{{'hermeneutApp.DataImpact.' + overallSecurityImpact.impact}}">{{overallSecurityImpact.impact}}</span>
        </dd>
        <dt><span jhiTranslate="hermeneutApp.overallSecurityImpact.operation">Operation</span></dt>
        <dd>
            <div *ngIf="overallSecurityImpact.operation">
                <a [routerLink]="['/data-operation-mgm', overallSecurityImpact.operation?.id]">{{overallSecurityImpact.operation?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'overall-security-impact-mgm/'+ overallSecurityImpact.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
