<div>
	<h2>
		<span jhiTranslate="hermeneutApp.attackStrategy.home.title">Attack
			Strategies</span>
		<button
			class="btn btn-primary float-right jh-create-entity create-attack-strategy-mgm"
			[routerLink]="['/', { outlets: { popup: ['attack-strategy-mgm-new'] } }]">
			<span class="fa fa-plus"></span> <span class="hidden-sm-down"
				jhiTranslate="hermeneutApp.attackStrategy.home.createLabel">
				Create new Attack Strategy </span>
		</button>
	</h2>
	<jhi-alert></jhi-alert>
	<div class="row">
		<div class="col-sm-12">
			<form name="searchForm" class="form-inline">
				<div class="input-group w-100 mt-3">
					<input type="text" class="form-control" [(ngModel)]="currentSearch"
						id="currentSearch" name="currentSearch"
						placeholder="{{ 'hermeneutApp.attackStrategy.home.search' | translate }}">
					<button class="input-group-append btn btn-info"
						(click)="search(currentSearch)">
						<span class="fa fa-search"></span>
					</button>
					<button class="input-group-append btn btn-danger" (click)="clear()"
						*ngIf="currentSearch">
						<span class="fa fa-trash-o"></span>
					</button>
				</div>
			</form>
		</div>
	</div>
	<br />
	<div class="table-responsive" *ngIf="attackStrategies">
		<table class="table table-striped">
			<thead>
				<tr>
					<th><span jhiTranslate="global.field.id">ID</span></th>
					<th><span jhiTranslate="hermeneutApp.attackStrategy.name">Name</span></th>
					<th><span
						jhiTranslate="hermeneutApp.attackStrategy.description">Description</span></th>
					<th><span jhiTranslate="hermeneutApp.attackStrategy.freq">Freq</span></th>
					<th><span jhiTranslate="hermeneutApp.attackStrategy.skill">Skill</span></th>
					<th><span jhiTranslate="hermeneutApp.attackStrategy.resources">Resources</span></th>
					<th><span
						jhiTranslate="hermeneutApp.attackStrategy.likelihood">Likelihood</span></th>
					<th><span jhiTranslate="hermeneutApp.attackStrategy.level">Level</span></th>
					<th><span jhiTranslate="hermeneutApp.attackStrategy.phase">Phase</span></th>
					<th><span jhiTranslate="hermeneutApp.attackStrategy.created">Created</span></th>
					<th><span jhiTranslate="hermeneutApp.attackStrategy.modified">Modified</span></th>
					<th><span
						jhiTranslate="hermeneutApp.attackStrategy.mitigation">Mitigation</span></th>
					<th><span
						jhiTranslate="hermeneutApp.attackStrategy.threatAgent">Threat
							Agent</span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr
					*ngFor="let attackStrategy of attackStrategies ;trackBy: trackId">
					<td><a
						[routerLink]="['../attack-strategy-mgm', attackStrategy.id ]">{{attackStrategy.id}}</a></td>
					<td>{{attackStrategy.name}}</td>
					<td>{{attackStrategy.description}}</td>
					<td
						jhiTranslate="{{'hermeneutApp.AS_Frequency.' + attackStrategy.freq}}">{{attackStrategy.freq}}</td>
					<td
						jhiTranslate="{{'hermeneutApp.SkillLevel.' + attackStrategy.skill}}">{{attackStrategy.skill}}</td>
					<td
						jhiTranslate="{{'hermeneutApp.ResourceLevel.' + attackStrategy.resources}}">{{attackStrategy.resources}}</td>
					<td
						jhiTranslate="{{'hermeneutApp.Likelihood.' + attackStrategy.likelihood}}">{{attackStrategy.likelihood}}</td>
					<td jhiTranslate="{{'hermeneutApp.Level.' + attackStrategy.level}}">{{attackStrategy.level}}</td>
					<td jhiTranslate="{{'hermeneutApp.Phase.' + attackStrategy.phase}}">{{attackStrategy.phase}}</td>
					<td>{{attackStrategy.created | date:'medium'}}</td>
					<td>{{attackStrategy.modified | date:'medium'}}</td>
					<td><span
						*ngFor="let mitigation of attackStrategy.mitigations; let last = last">
							<a class="form-control-static"
							[routerLink]="['../mitigation-mgm', mitigation?.id ]">{{mitigation.name}}</a>{{last
							? '' : ', '}}
					</span></td>
					<td><span
						*ngFor="let threatAgent of attackStrategy.threatAgents; let last = last">
							<a class="form-control-static"
							[routerLink]="['../threat-agent-mgm', threatAgent?.id ]">{{threatAgent.name}}</a>{{last
							? '' : ', '}}
					</span></td>
					<td class="text-right">
						<div class="btn-group flex-btn-group-container">
							<button type="submit"
								[routerLink]="['../attack-strategy-mgm', attackStrategy.id ]"
								class="btn btn-info btn-sm">
								<span class="fa fa-eye"></span> <span class="d-none d-md-inline"
									jhiTranslate="entity.action.view">View</span>
							</button>
							<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'attack-strategy-mgm/'+ attackStrategy.id + '/edit'} }]"
								replaceUrl="true" queryParamsHandling="merge"
								class="btn btn-primary btn-sm">
								<span class="fa fa-pencil"></span> <span
									class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
							</button>
							<button type="submit"
								[routerLink]="['/', { outlets: { popup: 'attack-strategy-mgm/'+ attackStrategy.id + '/delete'} }]"
								replaceUrl="true" queryParamsHandling="merge"
								class="btn btn-danger btn-sm">
								<span class="fa fa-remove"></span> <span
									class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<h1>Matrix</h1>
		<div class="table-responsive">
			<h3>Attack Plan</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nullam laoreet sit amet magna vel consectetur. Cras iaculis
				condimentum consequat. Maecenas elementum mauris nisi, eleifend
				vestibulum lacus tristique ac. Morbi euismod, massa in convallis
				tempor, orci massa eleifend neque, in convallis nibh nisi eu arcu.
				Nullam sodales suscipit arcu id imperdiet. In ullamcorper
				condimentum magna, vel fermentum orci semper vitae.</p>

			<br>
			<form>
				<div class="form-group">
					<label for="sel1">Select the threat agent:</label> <select
						class="form-control" id="attackPlanList">
						<option value="100">-</option>
						<option value="1">Hacker</option>
						<option value="2">Script Kiddie</option>
						<!-- <option value="3">Insider</option> -->
					</select>
				</div>
			</form>

			<br> <br>

			<table class="table table-striped table-bordered">
				<thead style="background: #cce6ff">
					<tr>
						<th style="background: #fff"></th>
						<th>Reconnaissance</th>
						<th>Weaponization</th>
						<th>Delivery</th>
						<th>Exploitation</th>
						<th>Installation</th>
						<th>Command and Control</th>
					</tr>
					<tr>
					<th	style="vertical-align: middle; background: #cc99ff;">Human</th>
					</tr>
					<tr>
					<th	style="vertical-align: middle; background: #cc99ff;">IT</th>
					</tr>
					<tr>
					<th	style="vertical-align: middle; background: #cc99ff;">Physical</th>
					</tr>
				</thead>
				<tbody>
				
					<tr
						*ngFor="let attackStrategy of attackStrategies ;trackBy: trackId">

						<td></td>
						<td>

							<button *ngIf="attackStrategy.level=='HUMAN' && attackStrategy.phase=='RECONNAISSANCE' " 
								type="button" class="btn center-block btn-default"
								data-toggle="modal" data-target="#OSINT" id="abc0">{{attackStrategy.name}}</button>

						</td>
						<td>

							<button
								*ngIf="attackStrategy.level=='HUMAN' && attackStrategy.phase=='WEAPONIZATION' "
								type="button" class="btn center-block btn-default"
								data-toggle="modal" data-target="#OSINT" id="abc0">{{attackStrategy.name}}</button>

						</td>
						<td>

							<button
								*ngIf="attackStrategy.level=='HUMAN' && attackStrategy.phase=='DELIVERY' "
								type="button" class="btn center-block btn-default"
								data-toggle="modal" data-target="#OSINT" id="abc0">{{attackStrategy.name}}</button>

						</td>
						<td>

							<button
								*ngIf="attackStrategy.level=='HUMAN' && attackStrategy.phase=='EXPLOITATION' "
								type="button" class="btn center-block btn-default"
								data-toggle="modal" data-target="#OSINT" id="abc0">{{attackStrategy.name}}</button>

						</td>	
						<td>

							<button
								*ngIf="attackStrategy.level=='HUMAN' && attackStrategy.phase=='INSTALLATION' "
								type="button" class="btn center-block btn-default"
								data-toggle="modal" data-target="#OSINT" id="abc0">{{attackStrategy.name}}</button>

						</td>								
						<td>

							<button
								*ngIf="attackStrategy.level=='HUMAN' && attackStrategy.phase=='COMMANDCONTROL' "
								type="button" class="btn center-block btn-default"
								data-toggle="modal" data-target="#OSINT" id="abc0">{{attackStrategy.name}}</button>

						</td>													
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>
