<div>
    <h2>
        <span jhiTranslate="hermeneutApp.question.home.title">Questions</span>
        <button class="btn btn-primary float-right jh-create-entity create-question-mgm" [routerLink]="['/', { outlets: { popup: ['question-mgm-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="hermeneutApp.question.home.createLabel">
            Create new Question
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'hermeneutApp.question.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="questions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="hermeneutApp.question.name">Name</span></th>
            <th><span jhiTranslate="hermeneutApp.question.created">Created</span></th>
            <th><span jhiTranslate="hermeneutApp.question.modified">Modified</span></th>
            <th><span jhiTranslate="hermeneutApp.question.order">Order</span></th>
            <th><span jhiTranslate="hermeneutApp.question.questionType">Question Type</span></th>
            <th><span jhiTranslate="hermeneutApp.question.answerType">Answer Type</span></th>
            <th><span jhiTranslate="hermeneutApp.question.threatAgent">Threat Agent</span></th>
            <th><span jhiTranslate="hermeneutApp.question.attackStrategies">Attack Strategies</span></th>
            <th><span jhiTranslate="hermeneutApp.question.questionnaire">Questionnaire</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let question of questions ;trackBy: trackId">
                <td><a [routerLink]="['../question-mgm', question.id ]">{{question.id}}</a></td>
                <td>{{question.name}}</td>
                <td>{{question.created | date:'medium'}}</td>
                <td>{{question.modified | date:'medium'}}</td>
                <td>{{question.order}}</td>
                <td jhiTranslate="{{'hermeneutApp.QuestionType.' + question.questionType}}">{{question.questionType}}</td>
                <td jhiTranslate="{{'hermeneutApp.AnswerType.' + question.answerType}}">{{question.answerType}}</td>
                <td>
                    <div *ngIf="question.threatAgent">
                        <a [routerLink]="['../threat-agent-mgm', question.threatAgent?.id ]" >{{question.threatAgent?.id}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let attackStrategies of question.attackStrategies; let last = last">
                            <a class="form-control-static" [routerLink]="['../attack-strategy-mgm', attackStrategies?.id ]">{{attackStrategies.name}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <div *ngIf="question.questionnaire">
                        <a [routerLink]="['../questionnaire-mgm', question.questionnaire?.id ]" >{{question.questionnaire?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../question-mgm', question.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'question-mgm/'+ question.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'question-mgm/'+ question.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
