<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myQuestionLabel" jhiTranslate="hermeneutApp.question.home.createOrEditLabel">Create or edit a Question</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!question.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="question.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.question.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="question.name" required/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.question.created" for="field_created">Created</label>
            <div class="d-flex">
                <input id="field_created" type="datetime-local" class="form-control" name="created" [(ngModel)]="question.created"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.question.modified" for="field_modified">Modified</label>
            <div class="d-flex">
                <input id="field_modified" type="datetime-local" class="form-control" name="modified" [(ngModel)]="question.modified"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.question.order" for="field_order">Order</label>
            <input type="number" class="form-control" name="order" id="field_order"
                [(ngModel)]="question.order" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.question.questionType" for="field_questionType">Question Type</label>
            <select class="form-control" name="questionType" [(ngModel)]="question.questionType" id="field_questionType"  required>
                <option value="REGULAR">{{'hermeneutApp.QuestionType.REGULAR' | translate}}</option>
                <option value="RELEVANT">{{'hermeneutApp.QuestionType.RELEVANT' | translate}}</option>
                <option value="OTHER">{{'hermeneutApp.QuestionType.OTHER' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.questionType?.dirty && editForm.controls.questionType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.questionType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.question.answerType" for="field_answerType">Answer Type</label>
            <select class="form-control" name="answerType" [(ngModel)]="question.answerType" id="field_answerType"  required>
                <option value="YESNO">{{'hermeneutApp.AnswerType.YESNO' | translate}}</option>
                <option value="RANGE5">{{'hermeneutApp.AnswerType.RANGE5' | translate}}</option>
                <option value="PERC5">{{'hermeneutApp.AnswerType.PERC5' | translate}}</option>
                <option value="RANGE3">{{'hermeneutApp.AnswerType.RANGE3' | translate}}</option>
                <option value="PERC3">{{'hermeneutApp.AnswerType.PERC3' | translate}}</option>
                <option value="CUSTOM">{{'hermeneutApp.AnswerType.CUSTOM' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.answerType?.dirty && editForm.controls.answerType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.answerType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.question.threatAgent" for="field_threatAgent">Threat Agent</label>
            <select class="form-control" id="field_threatAgent" name="threatAgent" [(ngModel)]="question.threatAgent" >
                <option [ngValue]="null"></option>
                <option [ngValue]="threatAgentOption.id === question.threatAgent?.id ? question.threatAgent : threatAgentOption" *ngFor="let threatAgentOption of threatagents; trackBy: trackThreatAgentById">{{threatAgentOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="hermeneutApp.question.attackStrategies" for="field_attackStrategies">Attack Strategies</label>
            <select class="form-control" id="field_attackStrategies" multiple name="attackStrategies" [(ngModel)]="question.attackStrategies">
                <option [ngValue]="getSelected(question.attackStrategies, attackStrategyOption)" *ngFor="let attackStrategyOption of attackstrategies; trackBy: trackAttackStrategyById">{{attackStrategyOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="hermeneutApp.question.answers" for="field_answers">Answers</label>
            <select class="form-control" id="field_answers" multiple name="answers" [(ngModel)]="question.answers">
                <option [ngValue]="getSelected(question.answers, answerOption)" *ngFor="let answerOption of answers; trackBy: trackAnswerById">{{answerOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.question.questionnaire" for="field_questionnaire">Questionnaire</label>
            <select class="form-control" id="field_questionnaire" name="questionnaire" [(ngModel)]="question.questionnaire" >
                <option [ngValue]="null"></option>
                <option [ngValue]="questionnaireOption.id === question.questionnaire?.id ? question.questionnaire : questionnaireOption" *ngFor="let questionnaireOption of questionnaires; trackBy: trackQuestionnaireById">{{questionnaireOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
