@import "../css/risk.module.css";

.boston-square-text{
    color: black;
}

.list-group{
    max-height: 400px;
    margin-bottom: 10px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}