<ng-container *ngIf="loading">
    <div class="loader"></div>
</ng-container>
<ng-container *ngIf="!loading">
    <mat-accordion>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h2 style="font-size: large;">
                        <a href="javascript:void(0);" class="collapse-link">Operation Context</a>
                    </h2>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-light">
                    <tr>
                        <th class="text-center" style="font-size: large;">Title</th>
                        <th class="text-center" style="font-size: large;">Processed Data</th>
                        <th class="text-center" style="font-size: large;">Processing Purpose</th>
                        <th class="text-center" style="font-size: large;">Data Subject</th>
                        <th class="text-center" style="font-size: large;">Processing Means</th>
                        <th class="text-center" style="font-size: large;">Data Processor</th>
                        <th class="text-center" style="font-size: large;">Recipients</th>
                    </tr>
                    </thead>
                    <tbody *ngIf="dataOperation">
                    <tr>
                        <td>{{dataOperation.name}}</td>
                        <td>{{dataOperation.processedData}}</td>
                        <td>{{dataOperation.processingPurpose}}</td>
                        <td>{{dataOperation.dataSubject}}</td>
                        <td>{{dataOperation.processingMeans}}</td>
                        <td>{{dataOperation.dataProcessor}}</td>
                        <td>
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>Internal</h6>
                                    <ul class="list-unstyled">
                                        <ng-container *ngFor="let recipient of dataOperation.recipients">
                                            <li *ngIf="recipient.type === recipientTypeEnum.INTERNAL">
                                                <span class="badge badge-pill badge-primary">{{recipient.name}}</span>
                                            </li>
                                        </ng-container>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <h6>External</h6>
                                    <ul class="list-unstyled">
                                        <ng-container *ngFor="let recipient of dataOperation.recipients">
                                            <li *ngIf="recipient.type === recipientTypeEnum.EXTERNAL">
                                                <span class="badge badge-pill badge-primary">{{recipient.name}}</span>
                                            </li>
                                        </ng-container>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</ng-container>
