identify assets

step todo:
1) get company profile

2) check identify asset
 - get all assets is done

3) form to check asssets, based on company profile.

<div>

<ul>
	<li>get company profile</li>
	<li>get self assesment info</li>
	<li>check if assets are already identified</li>
	<li>form to select assets</li>
</ul>
    <div class="table-responsive" *ngIf="assets">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span>Select</span></th>
                <th><span>Assetcategory</span></th>
                <th><span>Name</span></th>
                <th><span>Description</span></th>
            <th><span>Created</span></th>
            <th><span>Modified</span></th>
            <th><span>Container</span></th>
            <th><span>Domains</span></th>

            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let asset of assets ;trackBy: trackId">
                <td><input type="checkbox" value="{{asset.id}}" name="{{asset.name}}"></td>
                <td>
                    <div *ngIf="asset.assetcategory">
                        {{asset.assetcategory?.name}}
                    </div>
                </td>
                <td>{{asset.name}}</td>
                <td>{{asset.description}}</td>
                <td>{{asset.created | date:'medium'}}</td>
                <td>{{asset.modified | date:'medium'}}</td>

                <td>
                    <span *ngFor="let container of asset.containers; let last = last">
                           {{container.name}}<br/>
                        </span>
                </td>
                <td>
                    <span *ngFor="let domains of asset.domains; let last = last">
                            {{domains.name}}<br/>
                        </span>
                </td>

                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../asset-mgm', asset.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
            <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
    </div>
</div>
