
<div *ngIf="dataImpactDescription">
    <h2><span jhiTranslate="hermeneutApp.dataImpactDescription.detail.title">Data Impact Description</span> {{dataImpactDescription.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="hermeneutApp.dataImpactDescription.impact">Impact</span></dt>
        <dd>
            <span jhiTranslate="{{'hermeneutApp.DataImpact.' + dataImpactDescription.impact}}">{{dataImpactDescription.impact}}</span>
        </dd>
        <dt><span jhiTranslate="hermeneutApp.dataImpactDescription.description">Description</span></dt>
        <dd>
            <span>{{dataImpactDescription.description}}</span>
        </dd>
        <dt><span jhiTranslate="hermeneutApp.dataImpactDescription.language">Language</span></dt>
        <dd>
            <span jhiTranslate="{{'hermeneutApp.Language.' + dataImpactDescription.language}}">{{dataImpactDescription.language}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'data-impact-description-mgm/'+ dataImpactDescription.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
