<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDataImpactDescriptionLabel" jhiTranslate="hermeneutApp.dataImpactDescription.home.createOrEditLabel">Create or edit a Data Impact Description</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!dataImpactDescription.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="dataImpactDescription.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.dataImpactDescription.impact" for="field_impact">Impact</label>
            <select class="form-control" name="impact" [(ngModel)]="dataImpactDescription.impact" id="field_impact"  required>
                <option value="LOW">{{'hermeneutApp.DataImpact.LOW' | translate}}</option>
                <option value="MEDIUM">{{'hermeneutApp.DataImpact.MEDIUM' | translate}}</option>
                <option value="HIGH">{{'hermeneutApp.DataImpact.HIGH' | translate}}</option>
                <option value="VERY_HIGH">{{'hermeneutApp.DataImpact.VERY_HIGH' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.impact?.dirty && editForm.controls.impact?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.impact?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.dataImpactDescription.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="dataImpactDescription.description" required maxlength="2000"/>
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 2000 }">
                   This field cannot be longer than 2000 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.dataImpactDescription.language" for="field_language">Language</label>
            <select class="form-control" name="language" [(ngModel)]="dataImpactDescription.language" id="field_language"  required>
                <option value="IT">{{'hermeneutApp.Language.IT' | translate}}</option>
                <option value="EN">{{'hermeneutApp.Language.EN' | translate}}</option>
                <option value="DE">{{'hermeneutApp.Language.DE' | translate}}</option>
                <option value="ES">{{'hermeneutApp.Language.ES' | translate}}</option>
                <option value="FR">{{'hermeneutApp.Language.FR' | translate}}</option>
                <option value="PT_PT">{{'hermeneutApp.Language.PT_PT' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.language?.dirty && editForm.controls.language?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.language?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
