.this-year{
    background-color: #69f0ae;
}
.past-year{
    background-color: #ffff8d;
}
.future-year{
    background-color: #84ffff;
}
.not-selected{
    background-color: #0505051a;
}
.selected{
    background-color: #fff;
}