
<div *ngIf="likelihoodPosition">
    <h2><span jhiTranslate="hermeneutApp.likelihoodPosition.detail.title">Likelihood Position</span> {{likelihoodPosition.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="hermeneutApp.likelihoodPosition.likelihood">Likelihood</span></dt>
        <dd>
            <span jhiTranslate="{{'hermeneutApp.Likelihood.' + likelihoodPosition.likelihood}}">{{likelihoodPosition.likelihood}}</span>
        </dd>
        <dt><span jhiTranslate="hermeneutApp.likelihoodPosition.position">Position</span></dt>
        <dd>
            <span>{{likelihoodPosition.position}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'likelihood-position-mgm/'+ likelihoodPosition.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
