<form name="deleteForm" (ngSubmit)="confirm()">
    <div class="modal-header">
        <h4 class="modal-title">Confirm Partial Submit</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <p>The questionnaire is not complete, hence it will be evaluated only partially. In order to have a full result
            you will have to complete and submit it again. Do you want to proceed?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" class="btn btn-success">
            <span class="fa fa-check"></span>&nbsp;<span>Confirm</span>
        </button>
    </div>
</form>
