<ng-container *ngIf="loading">
    <div class="loader"></div>
</ng-container>
<ng-container *ngIf="!loading">
    <div class="x_panel" style="padding:0px !important;">
        <div class="x_title" style="padding:0px !important;">
            <h2 style="padding: 10px;">
                <a href="javascript:void(0)" class="collapse-link" (click)="isCollapsed = !isCollapsed">
                    Most Critical Attack Strategies
                </a>
                <small>based on 0 to 5 scale</small>
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li style="width: 24px; cursor: default"></li>
                <li style="width: 24px; cursor: default"></li>
                <li>
                    <a [routerLink]="['/results']">
                        <i class="fa fa-link fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="table-responsive x_content" style="padding:0px !important;" [ngbCollapse]="isCollapsed">
            <div *ngIf="!criticalAttackStrategies" class="text-center">
                No data available, please complete the relative questionnaire!
            </div>
            <div *ngIf="criticalAttackStrategies" class="table-responsive table-hover-no-pointer">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center align-middle">Attack Strategy</th>
                        <th scope="col" class="text-center align-middle">Target Assets</th>
                        <th scope="col" class="text-center align-middle">Criticality</th>
                        <th scope="col" class="text-center align-middle">Awareness Criticality</th>
                        <th scope="col" class="text-center align-middle">SOC Criticality</th>
                        <th scope="col" class="text-center align-middle">Alert</th>
                    </tr>
                    </thead>
                    <tbody align="center">
                    <ng-container
                        *ngFor="let criticalAttackStrategy of criticalAttackStrategies | paginate: attackStrategiesPaginator">
                        <tr>
                            <td>{{criticalAttackStrategy.attackStrategy.name}}</td>
                            <td>{{criticalAttackStrategy.targetAssets}}</td>
                            <td *ngIf="criticalAttackStrategy.criticalityPercentage">{{criticalAttackStrategy.criticalityPercentage / 100 | number : '1.0-2' | percent}}</td>
                            <td *ngIf="!criticalAttackStrategy.criticalityPercentage">-</td>
                            <td *ngIf="criticalAttackStrategy.awarenessCriticalityPercentage">{{criticalAttackStrategy.awarenessCriticalityPercentage / 100 | number : '1.0-2' | percent}}</td>
                            <td *ngIf="!criticalAttackStrategy.awarenessCriticalityPercentage">-</td>
                            <td *ngIf="criticalAttackStrategy.socCriticalityPercentage">{{criticalAttackStrategy.socCriticalityPercentage / 100 | number : '1.0-2' | percent}}</td>
                            <td *ngIf="!criticalAttackStrategy.socCriticalityPercentage">-</td>
                            <td>---</td>
                        </tr>
                    </ng-container>
                    </tbody>
                </table>
                <div class="text-center">
                    <pagination-controls (pageChange)="onAttackStrategiesPageChange($event)"
                                         [id]="attackStrategiesPaginator.id"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</ng-container>
