<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySplittingLossLabel" jhiTranslate="hermeneutApp.splittingLoss.home.createOrEditLabel">Create or edit a Splitting Loss</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--<div class="form-group" [hidden]="!splittingLoss.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="splittingLoss.id" readonly />
        </div>-->
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.splittingLoss.sectorType" for="field_sectorType">Sector Type</label>
            <select class="form-control" name="sectorType" [(ngModel)]="splittingLoss.sectorType" id="field_sectorType" >
                <option value="GLOBAL">{{'hermeneutApp.SectorType.GLOBAL' | translate}}</option>
                <option value="FINANCE_AND_INSURANCE">{{'hermeneutApp.SectorType.FINANCE_AND_INSURANCE' | translate}}</option>
                <option value="HEALTH_CARE_AND_SOCIAL_ASSISTANCE">{{'hermeneutApp.SectorType.HEALTH_CARE_AND_SOCIAL_ASSISTANCE' | translate}}</option>
                <option value="INFORMATION">{{'hermeneutApp.SectorType.INFORMATION' | translate}}</option>
                <option value="PROFESSIONAL_SCIENTIFIC_AND_TECHNICAL_SERVICE">{{'hermeneutApp.SectorType.PROFESSIONAL_SCIENTIFIC_AND_TECHNICAL_SERVICE' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.splittingLoss.categoryType" for="field_categoryType">Category Type</label>
            <select class="form-control" name="categoryType" [(ngModel)]="splittingLoss.categoryType" id="field_categoryType" >
                <option value="IP">{{'hermeneutApp.CategoryType.IP' | translate}}</option>
                <option value="KEY_COMP">{{'hermeneutApp.CategoryType.KEY_COMP' | translate}}</option>
                <option value="ORG_CAPITAL">{{'hermeneutApp.CategoryType.ORG_CAPITAL' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.splittingLoss.lossPercentage" for="field_lossPercentage">Loss Percentage</label>
            <input type="number" class="form-control" name="lossPercentage" id="field_lossPercentage"
                [(ngModel)]="splittingLoss.lossPercentage" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.splittingLoss.loss" for="field_loss">Loss</label>
            <input type="number" class="form-control" name="loss" id="field_loss"
                [(ngModel)]="splittingLoss.loss" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="hermeneutApp.splittingLoss.selfAssessment" for="field_selfAssessment">Self Assessment</label>
            <select class="form-control" id="field_selfAssessment" name="selfAssessment" [(ngModel)]="splittingLoss.selfAssessment">
                <option [ngValue]="null"></option>
                <option [ngValue]="selfAssessmentOption.id === splittingLoss.selfAssessment?.id ? splittingLoss.selfAssessment : selfAssessmentOption" *ngFor="let selfAssessmentOption of selfassessments; trackBy: trackSelfAssessmentById">{{selfAssessmentOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
