<p>
    question works!
</p>

<!--<h1>Question is of type</h1>-->
<!--<h2>{{dynamicQuestion.questionType}}</h2>-->

<!--<div [formGroup]="form">-->
<!--<label [attr.for]="dynamicQuestion.id">{{dynamicQuestion.name}}</label>-->

<!--<div [ngSwitch]="dynamicQuestion.answerType">-->
<!--<input *ngSwitchCase="answerType.YESNO" [formControlName]="dynamicQuestion.id"-->
<!--[id]="dynamicQuestion.id" [type]="dynamicQuestion.type">-->
<!--</div>-->

<!--<div class="errorMessage" *ngIf="!isValid">{{dynamicQuestion.name}} is required</div>-->
<!--</div>-->


<div [formGroup]="form">
    Label
    <label [attr.for]="dynamicQuestion.id">{{dynamicQuestion.name}}</label>
    Type
    {{dynamicQuestion.answerType}}

    <!--We need to get the integer value of the enum var, otherwise it won't work.-->
    <div [ngSwitch]="answerType[dynamicQuestion.answerType]">

        <div *ngSwitchCase="answerType.YESNO">
            <h1>Ok, the question is of type YES NO</h1>
        </div>

        <div *ngSwitchCase="answerType.RANGE5">
            <h1>Ok, the question is of type RANGE 5</h1>
        </div>

        <div *ngSwitchCase="answerType.PERC5">
            <h1>Ok, the question is of type PERC 5</h1>
        </div>

        <div *ngSwitchCase="answerType.RANGE3">
            <h1>Ok, the question is of type RANGE 3</h1>
        </div>

        <div *ngSwitchCase="answerType.PERC3">
            <h1>Ok, the question is of type PERC 3</h1>
        </div>
    </div>
</div>
