<div [formGroup]="form" class="form-group"
     [ngClass]="{'ng-valid': (isValid === true), 'ng-invalid': (isValid === false)}">
    <div class="rounded bg-primary d-inline-block">
        <label class="form-control-label" [attr.for]="dynamicQuestion.id"><h3>
            {{dynamicQuestion.name}}</h3>
        </label>
        <p>Is valid: {{isValid}}</p>
        <p>Is valid == true: {{isValid == true}}</p>
        <p>Is valid == false: {{isValid == false}}</p>
        <p>Is valid === true: {{isValid === true}}</p>
        <p>Is valid === false: {{isValid === false}}</p>
    </div>

    <!--We need to get the integer value of the enum var, otherwise it won't work.-->
    <div [id]="dynamicQuestion.id" [ngSwitch]="answerType[dynamicQuestion.answerType]">

        <div *ngSwitchCase="answerType.YESNO">
            <div class="radio" *ngFor="let answer of answers">
                <label class="radio">
                    <input type="radio"
                           [formControlName]="dynamicQuestion.id"
                           [checked]="answer.id === form.value[dynamicQuestion.id].id"
                           [value]="answer"/>&nbsp;{{answer.name}} answer id {{answer.id}} form value id {{form.value[dynamicQuestion.id].id | json}}
                </label>
            </div>
        </div>

        <div *ngSwitchCase="answerType.RANGE5">
            <!--<h1>Ok, the question is of type RANGE 5</h1>-->
            <select [formControlName]="dynamicQuestion.id">
                <option *ngFor="let answer of answers" [value]="answer.id">
                    {{answer.name}}
                </option>
            </select>
        </div>

        <div *ngSwitchCase="answerType.PERC5">
            <!--<h1>Ok, the question is of type PERC 5</h1>-->
            <select [formControlName]="dynamicQuestion.id">
                <option *ngFor="let answer of answers" [value]="answer.id">
                    {{answer.name}}
                </option>
            </select>
        </div>

        <div *ngSwitchCase="answerType.RANGE3">
            <!--<h1>Ok, the question is of type RANGE 3</h1>-->
            <select [formControlName]="dynamicQuestion.id">
                <option *ngFor="let answer of answers" [value]="answer.id">
                    {{answer.name}}
                </option>
            </select>
        </div>

        <div *ngSwitchCase="answerType.PERC3">
            <!--<h1>Ok, the question is of type PERC 3</h1>-->
            <select [formControlName]="dynamicQuestion.id">
                <option *ngFor="let answer of answers" [value]="answer.id">
                    {{answer.name}}
                </option>
            </select>
        </div>
    </div>
</div>
